<section data-section-id="{{ id }}" data-section-type="text-columns-with-images"
  class="section text-columns{{ modifiers }}">
  <div class="services-page-left-image">
    <img class="services-page-left-img" src={{linkimage}} loading="lazy" alt="hero">
  </div>
  <div class="services-page-left-video">
    <iframe width="100%" height="300px" src={{linkvideo}} frameborder="0" allowfullscreen></iframe>
  </iframe>
  </div>
  <div class="services-page-left-text">
    <div class="text-columns__content grid-display--{{ item_width }}">
      {% for block in blocks %}
        <div class="text-columns__feature animates pd-dynamic"> 
          {%- if block.settings.title != blank -%}
              <div class="services-item-left-title">
                 <div>{{block.settings.title}}</div>
              </div>
              {%- if block.settings.subheading != blank -%}
              <div class="services-item-left-text">
                {{block.settings.subheading}}
              </div>
            {%- endif -%}
          {%- endif -%}
        </div>
      {% endfor %}
    </div>
  </div>
  


</section>