<section data-section-id="{{ id }}" data-section-type="text-columns-with-images"
  class="section text-columns{{ modifiers }}">

  <div class="services" id="services">

    <div class="pop_up2" id="serv_pop">
      <div class="overlayered">
        <div class="closer_inner" id="closerinner">
          <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/x2.svg?v=1590585331" width="100%"
            alt="X close button">
        </div>
        <!-- update 27/11 -->
        <div id="servslideshow" style="position: relative;">
          <div class="serv_slide" id="show_serv1">
            <div class="in_header_1">HAUS SPECIAL</div>
            <div class="in_header_2">Who/What?</div>
            All skin types.<br><br>
            <div class="in_header_2">How?</div>
            Lactic acid gently exfoliates, botanical hyaluronic seals in moisture and an oxygen blast soothes and
            heightens hydration. Includes a targeted serum treatment ampoule and full extractions.<br><br>
            <div class="in_header_2">Result?</div>
            Radiant, renewed skin and equally renewed commitment to self-care!
          </div>
          <div class="serv_slide" id="show_serv2">
            <div class="in_header_1">SPOTLESS REPUTATION</div>
            <div class="in_header_2">Who/What?</div>
            Skin that is heavily congested, clogged, oily or acne prone.
            <br><br>
            <div class="in_header_2">How?</div>
            Thorough cleansing and targeted products are combined with a “triple threat treatment” combining
            ultrasonic sound waves, bacteria-killing high frequency and full-face extractions.
            <br><br>
            <div class="in_header_2">Result?</div>
            A calmer and clearer complexion and mind.
          </div>
          <div class="serv_slide" id="show_serv3">
            <div class="in_header_1">TEEN SPIRIT</div>
            <div class="in_header_2">Who/What?</div>
            Teens of all skin types.
            <br><br>
            <div class="in_header_2">How?</div>
            Our expert esthies deliver a thorough cleanse and hydration while giving teens the scoop on lifestyle
            changes and an at-home regimen that will promote healthier skin. Includes a targeted electrolyte-infused,
            hydrojelly mask and localized extractions.
            <br><br>
            <div class="in_header_2">Result?</div>
            A fresh start and a fabulous foundation for future skincare smarts.
          </div>
          <div class="serv_slide" id="show_serv4">
            <div class="in_header_1">POWER HAUS
            </div>
            <div class="in_header_2">Who/What?</div>
            Skin with loss of elasticity in need of retexturing.
            <br><br>
            <div class="in_header_2">How?</div>
            This renovating dynamic duo combines the power of microdermabrasion to retexture, smooth and brighten with
            microcurrent to improve the facial contours, skin tone and reduce wrinkles. Microcurrent stimulates the
            production of ATP- the powerhouse that provides energy for protein synthesis which aids in collagen and
            elastin production. Includes localized extractions.
            <br><br>
            <div class="in_header_2">Result?</div>
            Brighter, smoother, lifted and contoured skin. Great for event day firming; even better, longer lasting
            results when done in a series.
          </div>
          <div class="serv_slide" id="show_serv5">
            <div class="in_header_1">WORLD OF DIFFERENCE</div>
            <div class="in_header_2">Who/What?</div>
            For all skin types, especially those with fine lines and wrinkles, hyperpigmentation, loss of elasticity
            and volume, dullness and dehydration.
            <br><br>
            <div class="in_header_2">How?</div>
            This intensive treatment combines skin-brightening multi-fruit acid peel, pore-refining extractions,
            cell-energizing LED light therapy, fresh-activated, high-concentration Vitamin C and freeze-dried,
            mineral-rich algae mask. Includes both face and neck.
            <br><br>
            <div class="in_header_2">Result?</div>
            Quenches dehydration and restores skin’s radiance and&nbsp;resiliency in 55 power-packed minutes.
          </div>
          <div class="serv_slide" id="show_serv6">
            <div class="in_header_1">KEEP GLOWING
            </div>
            <div class="in_header_2">Who/What?</div>
            Mature skin that’s lived life to the fullest.
            <br><br>
            <div class="in_header_2">How?</div>
            Organic retinol alternative promotes collagen production while bamboo helps strengthen collagen fibers,
            green apple stem cells work to boost elastin, and monoi adds moisture. Includes localized extractions.
            <br><br>
            <div class="in_header_2">Result?</div>
            Healthy, super-hydrated skin with a grown-up glow that proves you just get better with age.
          </div>
          <div class="serv_slide" id="show_serv7">
            <div class="in_header_1">BEST MAN
            </div>
            <div class="in_header_2">Who/What?</div>
            Anyone who identifies as male.
            <br><br>
            <div class="in_header_2">How?</div>
            Dead skin cells are exfoliated from the beard area for less shaving-induced ingrown hairs, a treatment
            masque moisturizes skin, and finishing products target individual issues (because all men are created
            equal, but not their skin). Includes localized extractions.
            <br><br>
            <div class="in_header_2">Result?</div>
            A clean, fresh complexion that’ll have him saying “MAN, I look good!”
          </div>
          <div class="serv_slide" id="show_serv8">
            <div class="in_header_1">BRIGHT SIDE</div>
            <div class="in_header_2">Who/What?</div>
            Hyperpigmentation, sun damage, uneven skin tone.
            <br><br>
            <div class="in_header_2">How?</div>
            Antioxidant-rich treatment brightens with vitamin C and nourishes and heals with vitamin E, while
            plant-sourced ferulic acid amps up the efficacy. Includes localized extractions.
            <br><br>
            <div class="in_header_2">Result?</div>
            Luminous, even-toned skin with less redness is bright around the corner!
          </div>
          <div class="serv_slide" id="show_serv9">
            <div class="in_header_1">ALL FOR ONE</div>
            <div class="in_header_2">Who/What?</div>
            Emergency spot treatment.
            <br><br>
            <div class="in_header_2">How?</div>
            The affected area is cleansed, carefully extracted, and disinfected using our Haus tools and effective
            spot treatment. Followed by protective sunscreen and some tips for home care follow-up.
            <br><br>
            <div class="in_header_2">Result?</div>
            The “unwanted visitor” has been cleaned, extracted, detoxified and the healing process can begin. And
            that’s zit.
          </div>
          <div class="serv_slide" id="show_serv10">
            <div class="in_header_1">ME, MYSELF & I
            </div>
            Hi-tech meets high touch in this data-driven facial, powered by Atolla. Born at MIT, our expert esthies can
            now capture precise details about your skin like never before. Includes one personalized, take-home serum
            for
            your face only!

          </div>
          <div class="serv_slide" id="show_serv11">
            <div class="in_header_1">EYE RISE</div>
            <div class="in_header_2">Who/What?</div>
            Dark circles, puffiness, crow’s feet.
            <br><br>
            <div class="in_header_2">How?</div>
            Fruit acids gently exfoliate the under eye area, and a handheld device massages in a fine-line-smoothing
            serum while boosting circulation and lymph drainage.
            <br><br>
            <div class="in_header_2">Result?</div>
            A brighter, firmer under eye area in the blink of an eye!
          </div>
          <div class="serv_slide" id="show_serv12">
            <div class="in_header_1">LIP, LAUGH, LOVE
            </div>
            <div class="in_header_2">Who/What?</div>
            Fine lines around the mouth, dry/thin lips.
            <br><br>
            <div class="in_header_2">How?</div>
            A pineapple enzyme masque exfoliates lips, paprika oil has a plumping effect, and a hydrating hibiscus
            peptide masque works to lessen the look of laugh lines.
            <br><br>
            <div class="in_header_2">Result?</div>
            Lush-looking lips that are kissably soft—mwah!
          </div>
          <div class="serv_slide" id="show_serv13">
            <div class="in_header_1">HAVE A BLAST</div>
            <div class="in_header_2">Who/What?</div>
            Dry, irritated skin.
            <br><br>
            <div class="in_header_2">How?</div>
            Oxygen machine mists skin with a micronized solution to help soothe, hydrate, and provide anti-microbial
            benefits.
            <br><br>
            <div class="in_header_2">Result?</div>
            Super-hydrated skin that’s totally glO<sup>2</sup>wing!
          </div>
          <div class="serv_slide" id="show_serv14">
            <div class="in_header_1">RANDOM WAX OF KINDNESS
            </div>
            <div class="in_header_2">Who/What?</div>
            Unwanted hair on lip, chin, &amp; brow.
            <br><br>
            <div class="in_header_2">How?</div>
            Skin is carefully protected by barrier oil followed by a gentle application of our Haus favorite,
            precision ensuring stripless wax. Once removed, soothing products bring down minor inflammation and kill
            any remaining bacteria. Virtually painless with a smooth finish!
            <br><br>
            <div class="in_header_2">Result?</div>
            This grasp roots movement leaves skin smooth, supple and hair-free!
          </div>
          <div class="serv_slide" id="show_serv15">
            <div class="in_header_1">UNIVERSAL A-PEEL</div>
            <div class="in_header_2">Who/What?</div>
            A variety of concerns including dullness, rough texture, uneven tone, and loss of elasticity.
            <br><br>
            <div class="in_header_2">How?</div>
            Multiple peel options tackle different issues: The Haus Peel uses glycolic and lactic acids to exfoliate
            and give great glow, while the Blueberry Detox uses pineapple extract and lactic acid to boost circulation
            and collagen production. Ask our pros to help you pick your perfect peel!
            <br><br>
            <div class="in_header_2">Result?</div>
            Depends on the peel, but you’re sure to leave with fresh, radiant skin.
          </div>
          <div class="serv_slide" id="show_serv16">
            <div class="in_header_1">NECKS GENERATION</div>
            <div class="in_header_2">Who/What?</div>
            Any neck in need.
            <br><br>
            <div class="in_header_2">How?</div>
            Our facials all include the neck area, but this boost takes it to the "necks level".&nbsp; A smoothing
            enzyme concentrate, firming peptide serum, and lifting/ tightening hydrojelly mask supply your neck and
            underchin with some serious TLC.
            <br><br>
            <div class="in_header_2">Result?</div>
            Skin texture that is revitalized and a jawline that is more toned and lifted.
          </div>
          <div class="serv_slide" id="show_serv17">
            <div class="in_header_1">MASK AND YOU SHALL RECEIVE</div>
            <div class="in_header_2">Who/What?</div>
            All skin types.
            <br><br>
            <div class="in_header_2">How?</div>
            Choose from five electrolyte-infused hydrojelly masks:
            <br>* Hydrating Hyaluronic &amp; Aloe Vera Mask
            <br>* Calming Calendula &amp; Ceramides Mask
            <br>* Purifying Active Charcoal Mask
            <br>* Volumizing Poly-l-lactic Acid &amp; Biotin Mask
            <br>* Illuminating Orange &amp; Glutathione Mask<br>
            <div class="in_header_2">Result?</div>
            Depending on your mask choice, benefits range from soothing, smoothing,
            refining, lifting, firming, increased circulation and oxygen. It’s all good!
          </div>
          <div class="serv_slide" id="show_serv18">
            <div class="in_header_1">POWER TO THE PORES</div>
            <div class="in_header_2">Who/What?</div>
            Oily, congested skin.
            <br><br>
            <div class="in_header_2">How?</div>
            Additional time is added to your facial for extra-thorough allover extractions.
            <br><br>
            <div class="in_header_2">Result?</div>
            Smooth, decongested skin that’s pure pore-fection.
          </div>
          <div class="serv_slide" id="show_serv19">
            <div class="in_header_1">BUFF LOVE</div>
            <div class="in_header_2">Who/What?</div>
            Uneven tone and texture.
            <br><br>
            <div class="in_header_2">How?</div>
            A professional physical exfoliation (microdermabrasion) uses crystals to break up dead skin cells and
            impurities for a refined complexion and improved product penetration.
            <br><br>
            <div class="in_header_2">Result?</div>
            Sloughed away roughness and a super-smooth finish.
          </div>
          <div class="serv_slide" id="show_serv20">
            <div class="in_header_1">CURRENT AFFAIR</div>
            <div class="in_header_2">Who/What?</div>
            Skin with loss of elasticity.
            <br><br>
            <div class="in_header_2">How?</div>
            Microcurrent stimulates the production of ATP- the powerhouse that provides
            energy for protein synthesis which aides in collagen and elastin production.<br><br>
            <div class="in_header_2">Result?</div>
            Contoured, firm and lifted skin.Great for an event day lift
            or more lasting results when done in a series.
          </div>
          <div class="serv_slide" id="show_serv21">
            <div class="in_header_1">BEAM ME UP</div>
            <div class="in_header_2">Who/What?</div>
            Acne, loss of firmness and elasticity.
            <br><br>
            <div class="in_header_2">How?</div>
            A combo LED light panel uses red light to reduce inflammation, amber light to promote collagen production,
            and blue light to kill acne-causing bacteria.
            <br><br>
            <div class="in_header_2">Result?</div>
            We’ll light the way to firmer skin, a healthy glow and quicker healing time.
          </div>
          <!--Add 23/02/2021-->
          <div class="serv_slide" id="show_serv22">
            <div class="in_header_1">LED PACKAGES</div>
            Now book our 'Beam Me Up' LED service as a standalone service or in a series!
            <br>
            4-pack / $160 (expires 60 days from date of purchase)
            <br>
            8-pack / $275 (expires 120 days from date of purchase)
          </div>
        </div>
      </div>
      <!-- end update 27/11 -->
      <div class="pop_backer"></div>
    </div>
    <div class="top_services">
      <div class="services_title">
        <div class="service_column6">FACIALS FOR THE PEOPLE</div>
        <div class="services_column5">
          Welcome to our Haus,<br>
          where we believe in giving great face<br>
          to the entire human race.
        </div>
      </div>
      <div class="dotteds_line"></div>
      {% for block in blocks %}
      {% assign check_value = forloop.index0 | modulo: 10 %}
      {% assign check_value1 = forloop.index | modulo: 10 %}
      {% if check_value == 0 %}
      <div class="service_column">
        {% endif %}
        {% if block.settings.enable_special == false %}
        <div id="serv{{forloop.index}}" class="services_block tooltip">
          {{ block.settings.title | upcase }} <span class="serv_price">{{ block.settings.number_show }}</span>

          <div class="serv_text">
            {{ block.settings.subheading }}<span class="more_btn">(more)</span>
          </div>
        </div>
        {% endif %}
        {% if block.settings.enable_special == true %}
        <div id="serv{{forloop.index}}" class="services_block_special tooltip">
          {{ block.settings.title | upcase }} <span class="serv_price_special">{{ block.settings.number_show }}</span>

          <div class="serv_text">
            {{ block.settings.subheading }}<span class="more_btn">(more)</span>
          </div>
        </div>
        {% endif %}
        {% if check_value1 == 0 %}
      </div>
      {% endif %}
      {% if forloop.last == true %}
      {% if forloop.index > 2 and check_value1 > 0 %}
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
    <div class="dotteds_line" style="margin-top: 0px;"></div>
    <div class="bottom_services">
      <div class="boost_column">
        <div class="services_m_block gimme">
          GIMME<br class="desktop2">
          A<br class="desktop2">
          BOOST!
        </div>
        <div class="serv_icons">
          <div class="line1">
            <div class="service_column3">
              <div id="serv12" class="services_block_2 tooltip">
                <div class="serv_icon">
                  <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/FH_MenuIcons2.jpg?v=1590585406"
                    width="100%" alt="lip, laugh, love">
                </div>
                <div class="serv_text2">LIP, LAUGH, <br class="desktop2">LOVE<span class="serv_price">10</span>
                  <div class="more_btn">(more)</div>
                </div>
              </div>
            </div>
            <div class="service_column3">
              <div id="serv11" class="services_block_2 tooltip">
                <div class="serv_icon">
                  <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/FH_MenuIcons1.jpg?v=1590585436"
                    width="100%" alt="eye rise">
                </div>
                <div class="serv_text2 ">EYE <br class="desktop2">RISE<span class="serv_price">15</span>
                  <div class="more_btn">(more)</div>
                </div>
              </div>
            </div>
            <div class="service_column3">
              <div id="serv13" class="services_block_2 tooltip">
                <div class="serv_icon">
                  <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/FH_MenuIcons5.jpg?v=1590585457"
                    width="100%" alt="have a blast">
                </div>
                <div class="serv_text2">HAVE <br class="desktop2">A BLAST<span class="serv_price">15</span>
                  <div class="more_btn">(more)</div>
                </div>
              </div>
            </div>
            <div class="service_column3 laststs" style="margin-right: 0">
              <div id="serv14" class="services_block_2 tooltip">
                <div class="serv_icon">
                  <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/FH_MenuIcons8.jpg?v=1590585483"
                    width="100%" alt="random wax of kindness">
                </div>
                <div class="serv_text2">RANDOM WAX <br>OF KINDNESS<span class="serv_price"></span>
                  <div class="more_btn">(more)</div>
                </div>
              </div>
            </div>
            <div class="serv_text2 wax_text serv_text2_block tooltip" style="margin-left: 47px">
              LIP<span style="color:#007481;" class="serv_price">10</span>
            </div>
            <div class="serv_text2 wax_text serv_text2_block tooltip">
              CHIN<span style="color:#007481;" class="serv_price">15</span>
            </div>
            <div class="serv_text2 wax_text serv_text2_block tooltip">
              BROWS<span style="color:#007481;" class="serv_price">25</span>
            </div>
          </div>
          <div class="line2">
            <div class="service_column3">
              <div id="serv15" class="services_block_2 tooltip">
                <div class="serv_icon">
                  <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/FH_MenuIcons9.jpg?v=1590585512"
                    width="100%" alt="universal a-peel">
                </div>
                <div class="serv_text2">UNIVERSAL <br class="desktop2">A-PEEL<span class="serv_price">25</span>
                  <div class="more_btn">(more)</div>
                </div>
              </div>
            </div>
            <div class="service_column3">
              <div id="serv16" class="services_block_2 tooltip">
                <div class="serv_icon">
                  <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/FH_MenuIcons3.jpg?v=1590585539"
                    width="100%" alt="necks generation">
                </div>
                <div class="serv_text2">NECKS <br class="desktop2">GENERATION<span class="serv_price">25</span>
                  <div class="more_btn">(more)</div>
                </div>
              </div>
            </div>
            <div class="service_column3">
              <div id="serv17" class="services_block_2 tooltip">
                <div class="serv_icon">
                  <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/maskandyou2.jpg?v=1614244003"
                    width="100%" alt="mask and you shall receive">
                </div>
                <div class="serv_text2">MASK AND YOU <br class="desktop2">SHALL RECEIVE <span
                    class="serv_price">25</span>
                  <div class="more_btn">(more)</div>
                </div>
              </div>
            </div>
            <div class="service_column3">
              <div id="serv19" class="services_block_2 tooltip">
                <div class="serv_icon">
                  <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/FH_MenuIcons6.jpg?v=1590585599"
                    width="100%" alt="buff love">
                </div>
                <div class="serv_text2">BUFF LOVE <br class="desktop2">(Microderm)<span class="serv_price">35</span>
                  <div class="more_btn">(more)</div>
                </div>
              </div>
            </div>
            <div class="service_column3">
              <div id="serv20" class="services_block_2 tooltip">
                <div class="serv_icon">
                  <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/currentaffair.png?v=1590585640"
                    width="100%" alt="current affair">
                </div>
                <div class="serv_text2">CURRENT <br class="desktop2">AFFAIR<span class="serv_price">35</span>
                  <div class="more_btn">(more)</div>
                </div>
              </div>
            </div>
            <div class="service_column3">
              <div id="serv21" class="services_block_2 tooltip">
                <div class="serv_icon">
                  <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/FH_MenuIcons7.jpg?v=1590585663"
                    width="100%" alt="beam me up">
                </div>
                <div class="serv_text2">BEAM ME UP <br class="desktop2">(LED)<span class="serv_price">50</span>
                  <div class="more_btn">(more)</div>
                </div>
              </div>
            </div>
            <!--Add 23/02/2021-->
            <div class="service_column3">
              <div id="serv22" class="services_block_2 tooltip">
                <div class="serv_icon">
                  <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/stat.jpg?v=1614241218" width="100%"
                    alt="Led packages">
                </div>
                <div class="serv_text2">LED <br class="desktop2"> PACKAGES
                  <div class="more_btn">(more)</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="dotteds_line" style="margin-top: 5px;"></div>
      <div class="bottom_services">
        <div class="service_column">
          <div class="services_m_block_new package">
            <span class="future_text">
              Seriously great skin requires commitment!
              <div class="future_text2" style="color: #007481">
                CHECK OUT OUR PACKAGES AND <span style="color: #a5e5d9">MINT MONTHLY</span>
                MEMBERSHIP!<span>&nbsp;<a href="{{shop.url}}/pages/packages">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/twelve-pack_yellow-star.png?v=1590585694"
                      width="45px" alt="learn more" style="margin-top:-3px;"></a></span>
              </div>
            </span>
          </div>
        </div>
      </div>
      <div class="services-book-now">
        <span>NEW! Body Waxing in NYC Only <a href="https://facehaus.zenoti.com/webstoreNew/services/ab45b855-769f-4faa-8ad2-094d1ad34718?_ga=2.208124434.1436121763.1585863939-296012075.1571883516" target="_blank" class="services-link-now">BOOK NOW</a></span>
    </div>
    </div>
  </div>
  </div>
  </div>
</section>