<section data-section-id="{{ id }}" data-section-type="text-content" class="list-ingredients">
    <div class="ingredients-content-list max-w-1280">
        <div class="w48">
            <h3 class="ingredients-content-list-title" data-theme-editor-setting="section.{{ id }}.title_Squalane">
                {{ title_Squalane }}
            </h3>
            <p class="ingredients-content-list-content" data-theme-editor-setting="section.{{ id }}.overline_Squalane">
                {{ overline_Squalane | truncate: 150 }}
            </p>
            <a class="ingredients-content-list-more" href="{{link_Squalane}}">{{link_text_Squalane}}</a>
            <a class="ingredients-content-list-more pd">></a>
        </div>
        <div class="w48">
            <h3 class="ingredients-content-list-title" data-theme-editor-setting="section.{{ id }}.title_sodium">
                {{ title_sodium }}
            </h3>
            <p class="ingredients-content-list-content" data-theme-editor-setting="section.{{ id }}.overline_sodium">
                {{ overline_sodium | truncate: 150}}
            </p>
            <a class="ingredients-content-list-more" href="{{link_sodium}}">{{link_text_sodium}}</a>
            <a class="ingredients-content-list-more pd">></a>
        </div>
        <div class="w48">
            <h3 class="ingredients-content-list-title" data-theme-editor-setting="section.{{ id }}.title_seramide">
                {{ title_seramide }}
            </h3>
            <p class="ingredients-content-list-content" data-theme-editor-setting="section.{{ id }}.overline_seramide">
                {{ overline_seramide | truncate: 150}}
            </p>
            <a class="ingredients-content-list-more" href="{{link_seramide}}">{{link_text_seramide}}</a>
            <a class="ingredients-content-list-more pd">></a>
        </div>
        <div class="w48">
            <h3 class="ingredients-content-list-title" data-theme-editor-setting="section.{{ id }}.title_pure">
                {{ title_pure }}
            </h3>  
            <p class="ingredients-content-list-content" data-theme-editor-setting="section.{{ id }}.overline_pure">
                {{ overline_pure | truncate: 150}}
            </p>
            <a class="ingredients-content-list-more" href="{{link_pure}}">{{link_text_pure}}</a>
            <a class="ingredients-content-list-more pd">></a>
        </div>
        <div class="w48"> 
            <h3 class="ingredients-content-list-title" data-theme-editor-setting="section.{{ id }}.title_colloidal">
                {{ title_colloidal }}
            </h3>
            <p class="ingredients-content-list-content" data-theme-editor-setting="section.{{ id }}.overline_colloidal">
                {{ overline_colloidal | truncate: 150}}
            </p>
            <a class="ingredients-content-list-more" href="{{link_colloidal}}">{{link_text_colloidal}}</a>
            <a class="ingredients-content-list-more pd">></a>
        </div>
        <div class="w48">
            <h3 class="ingredients-content-list-title" data-theme-editor-setting="section.{{ id }}.title_linoleic">
                {{ title_linoleic }}
            </h3>
            <p class="ingredients-content-list-content" data-theme-editor-setting="section.{{ id }}.overline_linoleic">
                {{ overline_linoleic | truncate: 150}}
            </p>
            <a class="ingredients-content-list-more" href="{{link_linoleic}}">{{link_text_linoleic}}</a>
            <a class="ingredients-content-list-more pd">></a>
        </div>
    </div>
</section>