<section data-section-id="{{ id }}" data-section-type="title-header" class="home-hero">
  <div class="title-header__inner max-w-1280">
    {% unless title == blank %}
    <div class="ingredients-title-header__heading">
    <h1 class="ingredients-title-header titel-hp" data-theme-editor-setting="section.{{ id }}.title">
      <span style="display: block;">{{ title }}</span>
      <span class="ingredients-title-header_small titel-hp"
        data-theme-editor-setting="section.{{ id }}.overline">{{ overline }}</span>
    </h1>
  </div>

  <div class="ingredients-image max-w-1280">
    <img class="ingredients-img-hero"
      src="{{link_text}}"
      loading="lazy" alt="hero" />
  </div>

  {% endunless %}
  </div>
</section>