{% paginate search.results by 10 %}

<div class="search-template">

  <div class="search-template__heading">
    <h1 class="type-heading-display mt0 mb5">
      {% if search.performed %}
        <span class="visually-hidden">{{ 'search.heading' | t: count: search.results_count }}:</span>
          {{ 'search.results_with_count' | t: terms: search.terms, count: search.results_count }}
      {% else %}
        {{ 'search.title' | t }}
      {% endif %}
    </h1>

    <form action="{{ routes.search_url }}" method="get" role="search">
      <label for="Search" class="visually-hidden">
        {{ 'search.placeholder' | t }}
      </label>
      <input type="search"
            name="q"
            id="Search"
            value="{{ search.terms | escape }}"
            placeholder="{{ 'search.placeholder' | t }}"
      >
      <button
        type="submit"
        class="search-template__submit-button bttn"
      >
        {{ 'search.submit' | t }}
      </button>
    </form>
  </div>

  {% if search.performed %}
    {% if search.results_count == 0 %}
      <p class="search-template__no-results">{{ 'search.no_results_html' | t: terms: search.terms }}</p>
    {% else %}
      <h2 class="visually-hidden">{{ 'search.heading' | t: count: search.results_count }}</h2>
      <ul class="search-template__results">
        {% for item in search.results %}
          <li class="search-template__item">
            <div class="search-template__image">
              <a href="{{ item.url | within: collection }}">
                {% assign featured_media = item.featured_media.preview_image | default: item.featured_image %}
                {% if item.object_type == 'product' %}
                  {% if featured_media != blank %}
                    {{ featured_media | img_url: '240x240' | img_tag }}
                  {% else %}
                    {{ 'product-1' | placeholder_svg_tag }}
                  {% endif %}
                {% else %}
                  {% assign featured_media = item.image %}
                  {% if featured_media %}
                    {{ featured_media | img_url: '240x240' | img_tag }}
                  {% else %}
                    {% render 'icon-article-placeholder' %}
                  {% endif %}
                {% endif %}
              </a>
            </div>
            {% if item.object_type == 'product' %}
              <div>
                <h3 class="type-heading-2 mb2">
                  <a href="{{ item.url | within: collection }}">
                    {{ item.title }}
                  </a>
                </h3>
                {% if item.compare_at_price > item.price %}
                  {% if item.price_varies %}
                    {% assign sale_price = item.price | money %}
                    {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                  {% else %}
                    {{ 'products.product.on_sale' | t }}
                    <span>{{ item.price | money }}</span>
                  {% endif %}
                  <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                  <s>{{ item.compare_at_price | money }}</s>
                {% else %}
                  {% if item.price_varies %}
                    {% assign price = item.price | money %}
                    <span>{{ 'products.product.from_lowest_price_html' | t: lowest_price: price }}</span>
                  {% else %}
                    <span>{{ item.price | money }}</span>
                  {% endif %}
                {% endif %}
                {% unless item.available %}
                {{ 'products.product.sold_out' | t }}
                {% endunless %}
              </div>
            {% else %}
              <div>
                <h3 class="type-heading-2 mb2">
                  <a href="{{ item.url | within: collection }}">
                    {{ item.title }}
                  </a>
                </h3>
                <p class="type-body-regular">{{ item.content | strip_html | truncatewords: 50 }}</p>
              </div>
            {% endif %}

          </li>
        {% endfor %}
      </ul>

      {% if paginate.pages > 1 %}
        <div class="search-template__pagination">
          <hr class="mt0 mb3 b--solid b--default bb" style="border-top: none;" />
          {% render 'pagination' with
            type: 'general.pagination.products',
            paginate: paginate
          %}
        </div>
      {% endif %}
    {% endif %}
  {% endif %}

{% endpaginate %}

</div>