<section
  class="password welcome"
  data-section-id="{{ section.id }}"
  data-section-type="password"
>
  {% if background_image != blank %}
    {% render 'image' with
      image: background_image,
      wrapper_class: "password__background-image",
      disable_style: true
    %}

    <div
      class="password__background-image-overlay o-{{ background_overlay_opacity }}"
      style="background-color: {{ background_overlay_color }};">
    </div>
  {% endif %}

  <div class="password__login-button slider-button" data-js-toggle>
    <a href="#" class="lock">
      {% render 'icon-chevron-right' %}
    </a>
    <a href="#" class="close">
      {% render 'icon-chevron-left' %}
    </a>
  </div>

  <div class="password__content" data-content="default">
    <header class="password__header" role="banner">
      <p class="overline">{{ shop.name }}</p>
      {% unless heading == blank %}
        <h1 class="password__heading type-heading-1">{{ heading }}</h1>
      {% endunless %}
    </header>

    {% if shop.password_message != blank %}
      <p class="password__subheading type-body-regular">{{ shop.password_message }}</p>
    {% endif %}

    {% form 'customer' %}
      {% if form.posted_successfully? %}
        <div class="password__success type-body-regular success">
          {{ 'general.password_page.signup_form_success' | t }}
        </div>
      {% else %}
        {%- if text != blank -%}
          <div class="password__text type-body-regular rte">{{ text }}</div>
        {%- endif -%}

        {{ form.errors | default_errors }}
        <div class="password__notify-form">
          <div class="input relative w-100">
            <input type="hidden" name="contact[tags]" value="prospect, password page">
            <input type="email"
              name="contact[email]"
              id="Email"
              spellcheck="false"
              autocomplete="off"
              autocapitalize="off"
              placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}"
            >
            <label for="Email" class="label--above">
              {{ 'general.password_page.signup_form_email_placeholder' | t }}
            </label>
          </div>
          <button class="bttn bttn--primary" type="submit">{{ 'general.password_page.signup_form_button_label' | t }}</button>
        </div>
      {% endif %}
    {% endform %}

    {%- if show_share -%}
      <div class="password__share">
        {% render 'social-sharing' %}
      </div>
    {%- endif -%}

  </div>

  <div class="password__content" data-content="login">
    <h3 class="password__login-heading type-heading-1">{{ 'general.password_page.login_form_heading' | t }}</h3>
    {% form 'storefront_password' %}
      {{ form.errors | default_errors }}

      <div class="password__login-form">
        <div class="input relative w-100">
          <input type="password"
            name="password"
            id="Password"
            placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
          >
          <label for="Password" class="label--above">
            {{ 'general.password_page.login_form_password_placeholder' | t }}
          </label>
        </div>
        <button class="bttn bttn--primary" type="submit">{{ 'general.password_page.login_form_submit' | t }}</button>
      </div>
    {% endform %}
    <p class="type-body-regular rte">{{ 'general.password_page.admin_link_html' | t }}</p>
  </div>
</section>

<style>
  {% if text_color != blank %}
    .password__header,
    .password__text {
      color: {{ text_color }};
    }
  {% endif %}
</style>