{% liquid
  assign grid_modifiers = blank
  assign modifiers = blank

  assign modifiers = modifiers | append: ' collection--pagination-' | append: pagination

  if show_border
    assign modifiers = modifiers | append: ' collection--has-border'
  endif

  if show_filters or show_sort
    assign modifiers = modifiers | append: ' collection--has-filters'
  endif

  case products_per_row
    when 2
      assign grid_modifiers = grid_modifiers | append: ' grid-display--one-half'
    when 3
      assign grid_modifiers = grid_modifiers | append: ' grid-display--one-third'
    when 4
      assign grid_modifiers = grid_modifiers | append: ' grid-display--one-quarter'
  endcase

  assign grid_modifiers = grid_modifiers | append: ' grid-display--has-products'
  assign grid_modifiers = grid_modifiers | append: ' grid-display--' | append: aspect_ratio

  assign paginate_by = per_page

  assign collection_heading = collection.title
  unless show_heading
    assign collection_heading = blank
  endunless

  assign collection_label = blank
  if show_small_heading
    assign collection_label = 'collections.general.collection_label' | t
  endif

  assign paginated = false
  if pagination == 'paginated'
    assign paginated = true
  endif

  assign filters_exist = false

  unless collection.tags.size == 0 and show_sort == false
    assign filters_exist = true
    if filter_style == 'sidebar'
      assign modifiers = modifiers | append: ' collection--has-sidebar'
    endif
  endunless

  assign cat_string = blank
  for tag in collection.all_tags
    if tag contains '_'
      assign category = tag | split: '_' | first
      assign cat_string = cat_string | append: '|' | append: category
    endif
  endfor
  assign categories = cat_string | remove_first: '|' | split: '|' | uniq
%}


<section
  class="collection{{ modifiers }}"
  data-section-id="{{ id }}"
  data-section-type="collection"
  data-pagination-type="{{ pagination }}"
>
  <script type="application/json" data-tags>
    {% if collection.all_tags.size > 0 %}
      [
        {%- for tag in collection.all_tags -%}
          { "label": "{{ tag | escape }}", "handle": "{{ tag | handleize }}" }
          {%- if forloop.last == false -%}, {%- endif -%}
        {%- endfor -%}
      ]
    {% else %}
      []
    {% endif %}
  </script>

  {% assign proper_alpha = overlay_opacity | divided_by: 100.00 %}

  <style>
    {% if show_collection_image and collection.image %}
      .collection__image-overlay{
        background-color: {{ overlay_color | color_modify: 'alpha', proper_alpha }};
      }

      @media (min-width: 38em) {
        .collection__details {
          color: {{ text_color }};
        }
      }
    {% endif %}
  </style>

  {% paginate collection.products by paginate_by %}
    <div class="collection__container max-w-1280">
      <header role="banner" class="collection__header">
        <div
          class="
            collection__details
            {% if show_collection_image == false or collection.image == blank %}collection__details--no-image{% endif %}
          "
        >
          {% assign collection_subheading = "" %}

          {% if show_description %}
            {% assign collection_subheading = collection.description %}
          {% endif %}
          <div
          class="text-block__overline ma0 fs"
          data-theme-editor-setting="section.{{ id }}.overline"
        >
          {{collection_label }}
        </div>
          <!-- {% render 'text-block' with
            heading_alignment: heading_alignment,
            text_max_width: text_max_width,
            overline: collection_label,
            heading: collection_heading,
            subheading: collection_subheading,
          %} -->
         
        </div>

        {% if show_collection_image and collection.image != blank %}
          {% render 'image' with
            image: collection.image,
            wrapper_class: 'lazyload collection__image',
            disable_style: true
          %}
        {% endif %}

        <div class="collection__image-overlay"></div>
      </header>

      <div class="collection__content">
        {% if show_sort or show_filters %}
          {%- if filter_style == 'sidebar' -%}
            <div class="collection__sidebar" data-sidebar>
              {% render 'collection-sidebar' with
                categories: categories,
                filter_type: filter_type,
                show_sort: show_sort,
                show_filters: show_filters
              %}
            </div>
          {%- endif -%}
        {% endif %}

        <div class="collection__main-area">

          {% if show_filters or show_sort %}
            {% render 'collection-filters' with
              categories: categories,
              filter_type: filter_type,
              show_sort: show_sort,
              show_filters: show_filters
            %}
          {% endif %}

          <div class="collection__window">

            <div class="collection__loading" data-loading>
              {% render 'loader' %}
            </div>

            <div id="root" class="collection__products" data-partial>
              <div class="collection__top-row">
                {% render 'collection-top-bar' with
                  categories: categories
                %}
              </div>

              <div class="grid-display w-100{{ grid_modifiers }} collection__infinite-container">
                {% for product in collection.products %}
                  {% render 'product-item' with
                    product: product,
                    swatches_enabled: show_swatches,
                    aspect_ratio: aspect_ratio
                  %}
                {% else %}
                  <div class="collection__empty">
                    <div>{{ 'collections.general.no_products' | t }}</div>
                    <a data-clear="true">{{ 'collections.filters.clear' | t }}</a>
                  </div>
                {% endfor %}
              </div>

              {% unless paginated %}
                <div class="collection__infinite-trigger">
                  {% if paginate.next %}
                    <a href="{{ paginate.next.url }}" class="bttn bttn--secondary">{{ 'general.pagination.load_more' | t }}</a>
                  {% endif %}
                </div>
              {% endunless %}

              {% if paginated %}
                <div class="mt3 w-100">
                  {% if paginate.pages > 1 %}
                    {% render 'pagination' with
                      paginate: paginate,
                      type: 'general.pagination.products'
                    %}
                  {% else %}
                    {% render 'pagination' with
                      paginate: paginate,
                      type: 'general.pagination.products',
                      display_paginate_item_count_only: true
                    %}
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endpaginate %}

  {% render 'collection-flyout' with
    filter_type: filter_type,
    categories: categories,
    show_sort: show_sort
  %}
</section>
