<section
  class="section account"
  data-section-id="{{ section.id }}"
  data-section-type="login"
>

<div class="form-success hide" id="ResetSuccess">
  {{ 'customer.recover_password.success' | t }}
</div>

<div id="CustomerLoginForm" class="login" data-component="accountLogin">
  {% form 'customer_login' %}
    <h1 class="login__heading type-heading-display">{{ 'customer.login.title' | t }}</h1>

    {{ form.errors | default_errors }}

    <div class="relative">
      <input type="email"
            name="customer[email]"
            id="CustomerEmail"
            class="input {% if form.errors contains 'email' %}input-error{% endif %}"
            placeholder="{{ 'customer.login.email' | t }}"
            spellcheck="false"
            autocomplete="off"
            autocapitalize="off"
            >

      <label for="CustomerEmail" class="label--above">
        {{ 'customer.login.email' | t }}
      </label>
    </div>

    {% if form.password_needed %}
      <div class="relative">
        <input type="password"
              name="customer[password]"
              id="CustomerPassword"
              class="input {% if form.errors contains 'password' %}input-error{% endif %}"
              placeholder="{{ 'customer.login.password' | t }}">
          <label for="CustomerPassword" class="label--above">
          {{ 'customer.login.password' | t }}
        </label>
      </div>
    {% endif %}

    <input type="submit" class="bttn bttn--full" value="{{ 'customer.login.sign_in' | t }}">

    <div class="login__links">

      <a href="{{ routes.account_register_url }}">{{ 'layout.customer.create_account' | t }}</a>

      {% if form.password_needed %}
        &nbsp;/ <a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a>
      {% endif %}

    </div>
  {% endform %}

</div>

<div id="RecoverPasswordForm" class="hide">
  <div class="login">
    <h2 class="login__heading type-heading-display">{{ 'customer.recover_password.title' | t }}</h2>
    <p class="login__meta mb4">{{ 'customer.recover_password.subtext' | t }}</p>

    {% form 'recover_customer_password' %}
      {{ form.errors | default_errors }}

      {% if form.posted_successfully? %}
        <span class="hide reset-password-success"></span>
      {% endif %}

      <div class="relative">
        <input type="email"
              name="email"
              class="input"
              id="RecoverEmail"
              placeholder="{{ 'customer.recover_password.email' | t }}"
              spellcheck="false"
              autocomplete="off"
              autocapitalize="off">

        <label for="RecoverEmail" class="label--above">
          {{ 'customer.recover_password.email' | t }}
        </label>
      </div>

      <input type="submit" class="bttn bttn--full" value="{{ 'customer.recover_password.submit' | t }}">

      <button type="button" id="HideRecoverPasswordLink" class="bttn bttn--full bttn--secondary">
        {{ 'customer.recover_password.cancel' | t }}
      </button>
    {% endform %}

  </div>
</div>

{% if shop.checkout.guest_login %}
  <h2>{{ 'customer.login.guest_title' | t }}</h2>

  {% form 'guest_login' %}
    <input type="submit" class="bttn bttn--full" value="{{ 'customer.login.guest_continue' | t }}">
  {% endform %}
{% endif %}

</div>

</section>