<!--holiday-popup comment 23/07/2020
<div class="holiday-popup-outer" id="holiday-popup">
  <div class="holiday-popup">
    <div class="holiday-popup-closer">
      <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/x.svg?v=1590585108" width="100%"
        alt="X close button">
    </div>
    <div class="holiday-popup-inner">
      <a href="https://facehaus.zenoti.com/webstoreNew/f4b87304-1594-4b5d-90ec-5169d5628f3c?_ga=2.116186958.971310706.1594268679-1633738628.1591129248"
        target="_blank">
        <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/FAC146_LA_Reopening_Popup-b.gif?v=1594345844"
          width="100%" alt="promotional pop up">
      </a>
    </div>
  </div>
</div>
-->

<!--- Main Page--->
<div class="main_slideshow">
  <div id="main_slider" style="width:100% !important;">
    <div class="grid_columns">
      <div class="g_column">
        <div class="g_grid">
          <img class="big_small"
            src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/haus-guys-get-facials-b.jpg?v=1593005563"
            width="100%" alt="surprised girl desktop">
          <img class="medium"
            src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/haus-guys-get-facials-b.jpg?v=1593005563"
            width="100%" alt="surprised girl mobile">
        </div>
        <div class="g_grid">
          <img class="big_small"
            src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/2-FH_934x394-c.jpg?v=1589895666" width="100%"
            alt="Face Haus is a facial bar desktop">
          <img class="medium"
            src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/2-FH_934x394-c.jpg?v=1589895666" width="100%"
            alt="Face Haus is a facial bar mobile">
        </div>
      </div>

      <div class="g_column">
        <div class="g_grid">
          <a
            href="https://facehaus.zenoti.com/webstoreNew/f4b87304-1594-4b5d-90ec-5169d5628f3c?_ga=2.195079272.538820826.1590070325-1913384384.1589553432">
            <img class="big_small"
              src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/we-have-gone-bigger-in-tx.jpg?v=1594345515"
              width="100%" alt="our haus is your haus desktop">
            <img class="medium"
              src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/we-have-gone-bigger-in-tx.jpg?v=1594345515"
              width="100%" alt="our haus is your haus mobile">
          </a>
        </div>
        <div id="esthie_grid" class="g_grid point">
          <div class="grid_overlayer">
            <a href="#">
              <img class="big_small"
                src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/super-star-esthies.jpg?v=1593005530"
                width="100%" alt="super star esthies desktop">
              <img class="medium"
                src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/super-star-esthies.jpg?v=1593005530"
                width="100%" alt="super star esthies mobile">
            </a>
          </div>
        </div>
      </div>
      <div class="g_column finalcolumn">
        <div id="meetour_grid" class="g_grid lastimage point">
          <a href="/collections/shop">
            <img class="big_small"
              src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/product_grid_alt.jpg?v=1593005530"
              width="100%" alt="we are all in this together">
            <img class="medium"
              src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/product_grid_alt.jpg?v=1593005530"
              width="100%" alt="we are all in this together">
          </a>
        </div>
        <div class="g_grid point">
          <img class="big_small"
            src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/6-FH_938x370-b.jpg?v=1589895666" width="100%"
            alt="the two face haus models desktop">
          <img class="medium"
            src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/6-FH_938x370-b.jpg?v=1589895666" width="100%"
            alt="the two face haus models mobile">
        </div>
      </div>
    </div>

  </div>

</div>
</div>

<!--- main_content_downs-->
<div class="main_content_downs">
  <div class="main_content" style="padding-bottom:35px;">
    <!--To change add products-->
    <div class="esthys_holder-new accordion-menu-item listproduct">

      <div class="desktop">
        <div class="section-header text-center" style="margin-bottom: 25px;">
          <div class="home-product-header">
            SHOP THE HAUS
          </div>
          <div class="under_bottom_homeproduct"></div>
        </div>
        <div class="custom-navigation">
          <div class="flex-next loc_arrow-b_product desktop">
            <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/right_arrow2-2.svg?v=1591370077"
              alt="arrow right" width="100%">
          </div>
          <div class="flex-prev loc_arrow2-b_product desktop">
            <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/left_arrow2-2.svg?v=1591370078"
              alt="arrow left" width="100%">
          </div>
        </div>
        <div class="flexslider desktop">
          <div class="slides ">

            {% for product in collections['all'].products %}

            {% assign check_value = forloop.index0 | modulo: 4 %}
            {% assign check_value1 = forloop.index | modulo: 4 %}
            {% if check_value == 0 %}
            <li class="esthy_slides">
              {% endif %}

              <a href="{{product.url}}">
                <div class="esthy_block">
                  <div class="esthyproduct_img">
                    <img class="product-card__image-with-placeholder-wrapper"
                      src="{{product.featured_image.src | img_url: 'medium' }}" />
                  </div>
                  <div class="h4 grid-view-item__title product-card__title header_title fontHelCondBo2">

                    {{ product.title }}
                    <br>
                    {% assign lenthprice = product.price | size %}
                    {% assign indexprice = lenthprice | minus: 4  %}
                    {% assign indexprice = indexprice | divided_by: 2 %}
                    <span class="price-item price-item--regular">${{ product.price | slice: 0, indexprice }}.00</span>
                  </div>
                </div>
              </a>
              {% if check_value1 == 0 %}
            </li>
            {% endif %}
            {% if forloop.last == true %}
            {% if forloop.index > 4 and check_value1 > 0 %}
            </li>
            {% endif %}
            {% if forloop.index > 0 and forloop.index <= 4 %}
          </div>

          <style>
            .loc_arrow-b.mobile2,
            .loc_arrow2-b.mobile2 {
              display: none;
            }
          </style>
          {% endif %}
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
     <!-- mobi-->
    <div class="mobile2">
      <div class="section-header text-center" style="margin-bottom: 25px;">
        <div class="home-product-header">
          SHOP THE HAUS
        </div>
        <div class="under_bottom_homeproduct"></div>
        <div class="custom-navigation_mb">
          <div class="flex-next loc_arrow-b_prduct mobile2">
            <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/right_arrow2-mobile.svg?v=1591499527"
              alt="right arrow mobile2" width="100%">
          </div>
          <div class="flex-prev loc_arrow2-b_prduct mobile2">
            <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/left_arrow2-mobile.svg?v=1591797077"
              alt="left arrow mobile2" width="100%">
          </div>
        </div>
        <div class="flexslider_mb mobile2">
          <div class="slides ">
            {% for product in collections['all'].products %}
            {% assign check_value = forloop.index0 | modulo: 1 %}
            {% assign check_value1 = forloop.index | modulo: 1 %}
            {% if check_value == 0 %}
            <li class="esthy_slides">
              {% endif %}
              <a href="{{product.url}}">
                <div class="esthy_block">
                  <div class="esthyproduct_img">
                    <img class="product-card__image-with-placeholder-wrapper"
                      src="{{product.featured_image.src | img_url: 'medium' }}" />
                  </div>




                  <div class="h4 grid-view-item__title product-card__title header_title fontHelCondBo2">
                    {{ product.title }}
                    <br>
                    {% assign lenthprice = product.price | size %}
                    {% assign indexprice = lenthprice | minus: 4  %}
                    {% assign indexprice = indexprice | divided_by: 2 %}
                    <span class="price-item price-item--regular">${{ product.price | slice: 0, indexprice }}.00</span>
                  </div>
                </div>
              </a>
              {% if check_value1 == 0 %}
            </li>
            {% endif %}


            {% if forloop.last == true %}
            {% if forloop.index > 1 and check_value1 > 0 %}
            </li>
            {% endif %}
            {% if forloop.index > 0 and forloop.index <= 1 %}
          </div>
          <style>
            .loc_arrow-b.mobile2,
            .loc_arrow2-b.mobile2 {
              display: none;
            }
          </style>
          {% endif %}
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<!--To change add products-->
<!--esthys -->
<div class="esthys" id="esthys">
  <div class="featured_esthy">
    <div class="new_esthie_text">
      <div class="meet_new">
        <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/meet_new.svg?v=1590585243" width="100%"
          alt="meet our esthies">
        <!--<div class="meet_new_title">MEET OUR ESTHIES!</div>-->
      </div>
      <div class="esthie_copy_new">
        Our estheticians are skin care experts
        <img width="120px" class="meet_new_img_desc"
          src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/7d54b715-18dc-4540-a3f4-addfae16a6df.jfif?v=1594346907"
          alt="meet our esthies description" />
        <br>
        Choose a Haus and pick your pro.
      </div>
      <!-- <div class="esthie_copy_new">
            <div class="meet_new_expert">
              OUR ESTHETICIANS ARE SKIN AND CARE EXPERTS.
            </div>
            <img width="120px" class="meet_new_img_desc"
              src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/7d54b715-18dc-4540-a3f4-addfae16a6df.jfif?v=1594346907"
              alt="meet our esthies description" />
            <br>
            <div class="meet_new_choose_haus">
              CHOOSE A HAUS AND PICK YOUR PRO.
            </div>
          </div> -->

      <div class="dropdown">
        <button class="dropbtn">Find Your Haus </button>
        <div class="dropdown-content">
          <a href="/blogs/santa-monica">Santa Monica</a>
          <a href="/blogs/south-bay">South Bay</a>
          <a href="/blogs/studio-city">Studio City</a>
          <a href="/blogs/usc-village">USC Village</a>
          <a href="/blogs/West-Hollywood">West Hollywood</a>
          <a href="/blogs/Dallas-Preston-Royal">Dallas - Preston Royal</a>
          <a href="/blogs/west-village">Dallas - West Village</a>
          <a href="/blogs/Houston-Rice-Village">Houston - Rice Village</a>
          <a href="/blogs/new-york">NYC - Upper East Side</a>
          <a href="/pages/los-angeles-larchmont-village">Larchmont Village (Opening 2021)</a>

        </div>
      </div>
    </div>
    <div class="new_esthie_image"><img
        src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/new-esthies-2020.jpg?v=1594346908" width="100%"
        alt="face haus esthies professionals"></div>
    <div class="clearer"></div>
  </div>
  <div class="esthys_holder desktop" id="esthies_main">
  </div>
</div>

<!--services -->
<div class="services" id="services">
  <div class="pop_up2" id="serv_pop">
    <div class="overlayered">
      <div class="closer_inner" id="closerinner">
        <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/x2.svg?v=1590585331" width="100%"
          alt="X close button">
      </div>
      <div id="serv_slideshow" class="cycle-slideshow" data-cycle-timeout="0" data-cycle-speed="10"
        data-cycle-auto-height="container" data-cycle-slides="> div" style="position: relative; height: 350px;">
        <div class="serv_slide cycle-slide cycle-slide-active"
          style="height: 350px !important; position: absolute; top: 0px; left: 0px; z-index: 100; opacity: 1; display: block; visibility: visible;">
          <div class="in_header_1">HAUS SPECIAL</div>
          <div class="in_header_2">Who/What?</div>
          All skin types.<br><br>
          <div class="in_header_2">How?</div>
          Lactic acid gently exfoliates, botanical hyaluronic seals in moisture and an oxygen blast soothes and
          heightens hydration. Includes a targeted serum treatment ampoule and full extractions.<br><br>
          <div class="in_header_2">Result?</div>
          Radiant, renewed skin and equally renewed commitment to self-care!
        </div>
        <div class="serv_slide cycle-slide"
          style="position: absolute; top: 0px; left: 0px; z-index: 99; visibility: hidden;">
          <div class="in_header_1">SPOTLESS REPUTATION</div>
          <div class="in_header_2">Who/What?</div>
          Skin that is heavily congested, clogged, oily or acne prone.
          <br><br>
          <div class="in_header_2">How?</div>
          Thorough cleansing and targeted products are combined with a “triple threat treatment” combining
          ultrasonic sound waves, bacteria-killing high frequency and full-face extractions.
          <br><br>
          <div class="in_header_2">Result?</div>
          A calmer and clearer complexion and mind.
        </div>
        <div class="serv_slide cycle-slide"
          style="position: absolute; top: 0px; left: 0px; z-index: 97; visibility: hidden;">
          <div class="in_header_1">TEEN SPIRIT</div>
          <div class="in_header_2">Who/What?</div>
          Teens of all skin types.
          <br><br>
          <div class="in_header_2">How?</div>
          Our expert esthies deliver a thorough cleanse and hydration while giving teens the scoop on lifestyle
          changes and an at-home regimen that will promote healthier skin. Includes a targeted electrolyte-infused,
          hydrojelly mask and localized extractions.
          <br><br>
          <div class="in_header_2">Result?</div>
          A fresh start and a fabulous foundation for future skincare smarts.
        </div>
        <div class="serv_slide cycle-slide"
          style="position: absolute; top: 0px; left: 0px; z-index: 96; visibility: hidden;">
          <div class="in_header_1">POWER HAUS
          </div>
          <div class="in_header_2">Who/What?</div>
          Skin with loss of elasticity in need of retexturing.
          <br><br>
          <div class="in_header_2">How?</div>
          This renovating dynamic duo combines the power of microdermabrasion to retexture, smooth and brighten with
          microcurrent to improve the facial contours, skin tone and reduce wrinkles. Microcurrent stimulates the
          production of ATP- the powerhouse that provides energy for protein synthesis which aids in collagen and
          elastin production. Includes localized extractions.
          <br><br>
          <div class="in_header_2">Result?</div>
          Brighter, smoother, lifted and contoured skin. Great for event day firming; even better, longer lasting
          results when done in a series.
        </div>
        <div class="serv_slide cycle-slide"
          style="position: absolute; top: 0px; left: 0px; z-index: 95; visibility: hidden;">
          <div class="in_header_1">WORLD OF DIFFERENCE</div>
          <div class="in_header_2">Who/What?</div>
          For all skin types, especially those with fine lines and wrinkles, hyperpigmentation, loss of elasticity
          and volume, dullness and dehydration.
          <br><br>
          <div class="in_header_2">How?</div>
          This intensive treatment combines skin-brightening multi-fruit acid peel, pore-refining extractions,
          cell-energizing LED light therapy, fresh-activated, high-concentration Vitamin C and freeze-dried,
          mineral-rich algae mask. Includes both face and neck.
          <br><br>
          <div class="in_header_2">Result?</div>
          Quenches dehydration and restores skin’s radiance and&nbsp;resiliency in 55 power-packed minutes.
        </div>
        <div class="serv_slide cycle-slide"
          style="position: absolute; top: 0px; left: 0px; z-index: 94; visibility: hidden;">
          <div class="in_header_1">KEEP GLOWING
          </div>
          <div class="in_header_2">Who/What?</div>
          Mature skin that’s lived life to the fullest.
          <br><br>
          <div class="in_header_2">How?</div>
          Organic retinol alternative promotes collagen production while bamboo helps strengthen collagen fibers,
          green apple stem cells work to boost elastin, and monoi adds moisture. Includes localized extractions.
          <br><br>
          <div class="in_header_2">Result?</div>
          Healthy, super-hydrated skin with a grown-up glow that proves you just get better with age.
        </div>
        <div class="serv_slide cycle-slide"
          style="position: absolute; top: 0px; left: 0px; z-index: 93; visibility: hidden;">
          <div class="in_header_1">BEST MAN
          </div>
          <div class="in_header_2">Who/What?</div>
          Anyone who identifies as male.
          <br><br>
          <div class="in_header_2">How?</div>
          Dead skin cells are exfoliated from the beard area for less shaving-induced ingrown hairs, a treatment
          masque moisturizes skin, and finishing products target individual issues (because all men are created
          equal, but not their skin). Includes localized extractions.
          <br><br>
          <div class="in_header_2">Result?</div>
          A clean, fresh complexion that’ll have him saying “MAN, I look good!”
        </div>
        <div class="serv_slide cycle-slide"
          style="position: absolute; top: 0px; left: 0px; z-index: 92; visibility: hidden;">
          <div class="in_header_1">BRIGHT SIDE</div>
          <div class="in_header_2">Who/What?</div>
          Hyperpigmentation, sun damage, uneven skin tone.
          <br><br>
          <div class="in_header_2">How?</div>
          Antioxidant-rich treatment brightens with vitamin C and nourishes and heals with vitamin E, while
          plant-sourced ferulic acid amps up the efficacy. Includes localized extractions.
          <br><br>
          <div class="in_header_2">Result?</div>
          Luminous, even-toned skin with less redness is bright around the corner!
        </div>
        <div class="serv_slide cycle-slide"
          style="position: absolute; top: 0px; left: 0px; z-index: 91; visibility: hidden;">
          <div class="in_header_1">ALL FOR ONE</div>
          <div class="in_header_2">Who/What?</div>
          Emergency spot treatment.
          <br><br>
          <div class="in_header_2">How?</div>
          The affected area is cleansed, carefully extracted, and disinfected using our Haus tools and effective
          spot treatment. Followed by protective sunscreen and some tips for home care follow-up.
          <br><br>
          <div class="in_header_2">Result?</div>
          The “unwanted visitor” has been cleaned, extracted, detoxified and the healing process can begin. And
          that’s zit.
        </div>
        <div class="serv_slide cycle-slide"
          style="position: absolute; top: 0px; left: 0px; z-index: 90; visibility: hidden;">
          <div class="in_header_1">ALL FOR ONE
          </div>
          <div class="in_header_2">Who/What?</div>
          Emergency spot treatment.
          <br><br>
          <div class="in_header_2">How?</div>
          The affected area is cleansed, carefully extracted, and disinfected using our Haus tools and effective
          spot treatment. Followed by protective sunscreen and some tips for home care follow-up.
          <br><br>
          <div class="in_header_2">Result?</div>
          The “unwanted visitor” has been cleaned, extracted, detoxified and the healing process can begin. And
          that’s zit.
        </div>
        <div class="serv_slide cycle-slide"
          style="position: absolute; top: 0px; left: 0px; z-index: 89; visibility: hidden;">
          <div class="in_header_1">EYE RISE</div>
          <div class="in_header_2">Who/What?</div>
          Dark circles, puffiness, crow’s feet.
          <br><br>
          <div class="in_header_2">How?</div>
          Fruit acids gently exfoliate the under eye area, and a handheld device massages in a fine-line-smoothing
          serum while boosting circulation and lymph drainage.
          <br><br>
          <div class="in_header_2">Result?</div>
          A brighter, firmer under eye area in the blink of an eye!
        </div>
        <div class="serv_slide cycle-slide"
          style="position: absolute; top: 0px; left: 0px; z-index: 88; visibility: hidden;">
          <div class="in_header_1">LIP, LAUGH, LOVE
          </div>
          <div class="in_header_2">Who/What?</div>
          Fine lines around the mouth, dry/thin lips.
          <br><br>
          <div class="in_header_2">How?</div>
          A pineapple enzyme masque exfoliates lips, paprika oil has a plumping effect, and a hydrating hibiscus
          peptide masque works to lessen the look of laugh lines.
          <br><br>
          <div class="in_header_2">Result?</div>
          Lush-looking lips that are kissably soft—mwah!
        </div>
        <div class="serv_slide cycle-slide"
          style="position: absolute; top: 0px; left: 0px; z-index: 87; visibility: hidden;">
          <div class="in_header_1">HAVE A BLAST</div>
          <div class="in_header_2">Who/What?</div>
          Dry, irritated skin.
          <br><br>
          <div class="in_header_2">How?</div>
          Oxygen machine mists skin with a micronized solution to help soothe, hydrate, and provide anti-microbial
          benefits.
          <br><br>
          <div class="in_header_2">Result?</div>
          Super-hydrated skin that’s totally glO<sup>2</sup>wing!
        </div>
        <div class="serv_slide cycle-slide"
          style="position: absolute; top: 0px; left: 0px; z-index: 86; visibility: hidden;">
          <div class="in_header_1">RANDOM WAX OF KINDNESS
          </div>
          <div class="in_header_2">Who/What?</div>
          Unwanted hair on lip, chin, &amp; brow.
          <br><br>
          <div class="in_header_2">How?</div>
          Skin is carefully protected by barrier oil followed by a gentle application of our Haus favorite,
          precision ensuring stripless wax. Once removed, soothing products bring down minor inflammation and kill
          any remaining bacteria. Virtually painless with a smooth finish!
          <br><br>
          <div class="in_header_2">Result?</div>
          This grasp roots movement leaves skin smooth, supple and hair-free!
        </div>
        <div class="serv_slide cycle-slide"
          style="position: absolute; top: 0px; left: 0px; z-index: 85; visibility: hidden;">
          <div class="in_header_1">UNIVERSAL A-PEEL</div>
          <div class="in_header_2">Who/What?</div>
          A variety of concerns including dullness, rough texture, uneven tone, and loss of elasticity.
          <br><br>
          <div class="in_header_2">How?</div>
          Multiple peel options tackle different issues: The Haus Peel uses glycolic and lactic acids to exfoliate
          and give great glow, while the Blueberry Detox uses pineapple extract and lactic acid to boost circulation
          and collagen production. Ask our pros to help you pick your perfect peel!
          <br><br>
          <div class="in_header_2">Result?</div>
          Depends on the peel, but you’re sure to leave with fresh, radiant skin.
        </div>
        <div class="serv_slide cycle-slide"
          style="position: absolute; top: 0px; left: 0px; z-index: 84; visibility: hidden;">
          <div class="in_header_1">NECKS GENERATION</div>
          <div class="in_header_2">Who/What?</div>
          Any neck in need.
          <br><br>
          <div class="in_header_2">How?</div>
          Our facials all include the neck area, but this boost takes it to the "necks level".&nbsp; A smoothing
          enzyme concentrate, firming peptide serum, and lifting/ tightening hydrojelly mask supply your neck and
          underchin with some serious TLC.
          <br><br>
          <div class="in_header_2">Result?</div>
          Skin texture that is revitalized and a jawline that is more toned and lifted.
        </div>
        <div class="serv_slide cycle-slide"
          style="position: absolute; top: 0px; left: 0px; z-index: 83; visibility: hidden;">
          <div class="in_header_1">MASK AND YOU SHALL RECEIVE</div>
          <div class="in_header_2">Who/What?</div>
          All skin types.
          <br><br>
          <div class="in_header_2">How?</div>
          Choose from five electrolyte-infused hydrojelly masks:
          <br>* Hydrating Hyaluronic &amp; Aloe Vera Mask
          <br>* Calming Calendula &amp; Ceramides Mask
          <br>* Purifying Active Charcoal Mask
          <br>* Volumizing Poly-l-lactic Acid &amp; Biotin Mask
          <br>* Illuminating Orange &amp; Glutathione Mask<br>
          <div class="in_header_2">Result?</div>
          Depending on your mask choice, benefits range from soothing, smoothing,
          refining, lifting, firming, increased circulation and oxygen. It’s all good!
        </div>
        <div class="serv_slide cycle-slide"
          style="position: absolute; top: 0px; left: 0px; z-index: 82; visibility: hidden;">
          <div class="in_header_1">POWER TO THE PORES</div>
          <div class="in_header_2">Who/What?</div>
          Oily, congested skin.
          <br><br>
          <div class="in_header_2">How?</div>
          Additional time is added to your facial for extra-thorough allover extractions.
          <br><br>
          <div class="in_header_2">Result?</div>
          Smooth, decongested skin that’s pure pore-fection.
        </div>
        <div class="serv_slide cycle-slide"
          style="position: absolute; top: 0px; left: 0px; z-index: 81; visibility: hidden;">
          <div class="in_header_1">BUFF LOVE</div>
          <div class="in_header_2">Who/What?</div>
          Uneven tone and texture.
          <br><br>
          <div class="in_header_2">How?</div>
          A professional physical exfoliation (microdermabrasion) uses crystals to break up dead skin cells and
          impurities for a refined complexion and improved product penetration.
          <br><br>
          <div class="in_header_2">Result?</div>
          Sloughed away roughness and a super-smooth finish.
        </div>
        <div class="serv_slide cycle-slide"
          style="position: absolute; top: 0px; left: 0px; z-index: 80; visibility: hidden;">
          <div class="in_header_1">CURRENT AFFAIR</div>
          <div class="in_header_2">Who/What?</div>
          Skin with loss of elasticity.
          <br><br>
          <div class="in_header_2">How?</div>
          Microcurrent stimulates the production of ATP- the powerhouse that provides
          energy for protein synthesis which aides in collagen and elastin production.<br><br>
          <div class="in_header_2">Result?</div>
          Contoured, firm and lifted skin.Great for an event day lift
          or more lasting results when done in a series.
        </div>
        <div class="serv_slide cycle-slide"
          style="position: absolute; top: 0px; left: 0px; z-index: 79; visibility: hidden;">
          <div class="in_header_1">BEAM ME UP</div>
          <div class="in_header_2">Who/What?</div>
          Acne, loss of firmness and elasticity.
          <br><br>
          <div class="in_header_2">How?</div>
          A combo LED light panel uses red light to reduce inflammation, amber light to promote collagen production,
          and blue light to kill acne-causing bacteria.
          <br><br>
          <div class="in_header_2">Result?</div>
          We’ll light the way to firmer skin, a healthy glow and quicker healing time.
        </div>
      </div>
    </div>
    <div class="pop_backer"></div>
  </div>
  <div class="top_services">
    <div class="services_title">
      <div class="service_column6">FACIALS FOR THE PEOPLE</div>
      <div class="services_column5">
        Welcome to our Haus,<br>
        where we believe in giving great face<br>
        to the entire human race.
      </div>
    </div>
    <div class="dotteds_line"></div>
    <div class="service_column">
      <div id="serv1" class="services_block tooltip">
        HAUS<br>
        SPECIAL<span class="serv_price">85</span>
        <div class="serv_text">
          This all-embracing, comprehensive facial combines our expertise with your skin's needs. Includes an oxygen
          blast, targeted serum ampoule and full extractions. <span class="more_btn">(more)</span>
        </div>
      </div>
      <div id="serv2" class="services_block tooltip">
        SPOTLESS<br>
        REPUTATION<span class="serv_price">85</span>
        <div class="serv_text">
          Our oil-dissolving, complexion-clearing facial uses ultrasonic waves and high frequency to treat troubled
          or congested skin. Includes full extractions. <span class="more_btn">(more)</span>
        </div>
      </div>
      <div id="serv3" class="services_block tooltip">
        TEEN<br>
        SPIRIT<span class="serv_price">75</span>
        <div class="serv_text">
          Gives teens clean, bright skin, and tips on how to keep it that way. Includes a customized,
          electrolyte-infused hydrojelly mask. <span class="more_btn">(more)</span>
        </div>
      </div>
      <div id="serv4" class="services_block tooltip" style="color: #a5e5d9;">
        POWER<br>
        HAUS<span style="color: #007481;" class="serv_price">125</span>
        <div class="serv_text">
          This high-powered skin renovation unites microdermabrasion and micro current to leave skin brighter,
          smoother, lifted and contoured. <span class="more_btn">(more)</span>
        </div>
      </div>
      <div id="serv5" class="services_block tooltip last" style="color: #a5e5d9;">
        WORLD OF<br>
        DIFFERENCE<span style="color: #007481;" class="serv_price">145</span>
        <div class="serv_text">
          Glow all out with this transformative, deluxe facial. Features a smoothing peel, full extractions,
          cell-energizing LED, pure Vitamin C and a rich algae mask for instantly smoother, brighter, firmer skin.
          <span class="more_btn">(more)</span>
        </div>
      </div>
      <div id="serv6" class="services_block tooltip">
        KEEP<br>
        GLOWING<span class="serv_price">75</span>
        <div class="serv_text">
          This pro-aging facial cleanses, exfoliates and hydrates a seasoned complexion. Celebrate the skin you’re
          in! <span class="more_btn">(more)</span>
        </div>
      </div>
      <div id="serv7" class="services_block tooltip">
        BEST<br>
        MAN<span class="serv_price">75</span>
        <div class="serv_text">
          Show him some brotherly love with this targeted facial that exfoliates, hydrates and remedies the effects
          of shaving. <span class="more_btn">(more)</span>
        </div>
      </div>
      <div id="serv8" class="services_block tooltip">
        BRIGHT<br>
        SIDE<span class="serv_price">75</span>
        <div class="serv_text">
          Look towards a bright future with a treatment that helps fade sun damage and dark spots. <span
            class="more_btn">(more)</span>
        </div>
      </div>
      <div id="serv9" class="services_block tooltip last" style="color: #a5e5d9;">
        ALL<br>
        FOR ONE<span style="color: #007481;" class="serv_price">10</span>
        <div class="serv_text">
          Stay calm: this emergency spot treatment is here for you. <span class="more_btn">(more)</span>
        </div>
      </div>
      <div id="serv10" class="services_block tooltip" style="color: #a5e5d9;">
        <br>
        <div class="serv_text">
          <span class="more_btn"></span>
        </div>
      </div>
    </div>
    <div class="dotteds_line" style="margin-top: 0px;"></div>
    <div class="bottom_services">
      <div class="boost_column">
        <div class="services_m_block gimme">
          GIMME<br class="desktop2">
          A<br class="desktop2">
          BOOST!
        </div>
        <div class="serv_icons">
          <div class="line1">
            <div class="service_column3">
              <div id="serv12" class="services_block_2 tooltip">
                <div class="serv_icon">
                  <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/FH_MenuIcons2.jpg?v=1590585406"
                    width="100%" alt="lip, laugh, love">
                </div>
                <div class="serv_text2">LIP, LAUGH, <br class="desktop2">LOVE<span class="serv_price">10</span>
                  <div class="more_btn">(more)</div>
                </div>
              </div>
            </div>
            <div class="service_column3">
              <div id="serv11" class="services_block_2 tooltip">
                <div class="serv_icon">
                  <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/FH_MenuIcons1.jpg?v=1590585436"
                    width="100%" alt="eye rise">
                </div>
                <div class="serv_text2">EYE <br class="desktop2">RISE<span class="serv_price">15</span>
                  <div class="more_btn">(more)</div>
                </div>
              </div>
            </div>
            <div class="service_column3">
              <div id="serv15" class="services_block_2 tooltip">
                <div class="serv_icon">
                  <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/FH_MenuIcons5.jpg?v=1590585457"
                    width="100%" alt="have a blast">
                </div>
                <div class="serv_text2">HAVE <br class="desktop2">A BLAST<span class="serv_price">15</span>
                  <div class="more_btn">(more)</div>
                </div>
              </div>
            </div>
            <div class="service_column3 laststs" style="margin-right: 0">
              <div id="serv19" class="services_block_2 tooltip">
                <div class="serv_icon">
                  <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/FH_MenuIcons8.jpg?v=1590585483"
                    width="100%" alt="random wax of kindness">
                </div>
                <div class="serv_text2">RANDOM WAX <br class="desktop2">OF KINDNESS<span class="serv_price"></span>
                  <div class="more_btn">(more)</div>
                </div>
              </div>
            </div>
            <div class="serv_text2 wax_text serv_text2_block tooltip" style="margin-left: 0%">
              LIPS<span style="color:#007481;" class="serv_price">10</span>
            </div>
            <div class="serv_text2 wax_text serv_text2_block tooltip">
              CHIN<span style="color:#007481;" class="serv_price">15</span>
            </div>
            <div class="serv_text2 wax_text serv_text2_block tooltip" style="margin-right: 15%">
              BROWS<span style="color:#007481;" class="serv_price">25</span>
            </div>
          </div>
          <div class="line2">
            <div class="service_column3">
              <div id="serv16" class="services_block_2 tooltip">
                <div class="serv_icon">
                  <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/FH_MenuIcons9.jpg?v=1590585512"
                    width="100%" alt="universal a-peel">
                </div>
                <div class="serv_text2">UNIVERSAL <br class="desktop2">A-PEEL<span class="serv_price">25</span>
                  <div class="more_btn">(more)</div>
                </div>
              </div>
            </div>
            <div class="service_column3">
              <div id="serv13" class="services_block_2 tooltip">
                <div class="serv_icon">
                  <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/FH_MenuIcons3.jpg?v=1590585539"
                    width="100%" alt="necks generation">
                </div>
                <div class="serv_text2">NECKS <br class="desktop2">GENERATION<span class="serv_price">25</span>
                  <div class="more_btn">(more)</div>
                </div>
              </div>
            </div>
            <div class="service_column3">
              <div id="serv20" class="services_block_2 tooltip">
                <div class="serv_icon">
                  <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/maskandyou.png?v=1590585576"
                    width="100%" alt="mask and you shall receive">
                </div>
                <div class="serv_text2">MASK AND YOU <br class="desktop2">SHALL RECEIVE <span
                    class="serv_price">25</span>
                  <div class="more_btn">(more)</div>
                </div>
              </div>
            </div>
            <div class="service_column3">
              <div id="serv17" class="services_block_2 tooltip">
                <div class="serv_icon">
                  <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/FH_MenuIcons6.jpg?v=1590585599"
                    width="100%" alt="buff love">
                </div>
                <div class="serv_text2">BUFF LOVE <br class="desktop2">(Microderm)<span class="serv_price">35</span>
                  <div class="more_btn">(more)</div>
                </div>
              </div>
            </div>
            <div class="service_column3">
              <div id="serv21" class="services_block_2 tooltip">
                <div class="serv_icon">
                  <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/currentaffair.png?v=1590585640"
                    width="100%" alt="current affair">
                </div>
                <div class="serv_text2">CURRENT <br class="desktop2">AFFAIR<span class="serv_price">35</span>
                  <div class="more_btn">(more)</div>
                </div>
              </div>
            </div>
            <div class="service_column3">
              <div id="serv18" class="services_block_2 tooltip">
                <div class="serv_icon">
                  <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/FH_MenuIcons7.jpg?v=1590585663"
                    width="100%" alt="beam me up">
                </div>
                <div class="serv_text2">BEAM ME UP <br class="desktop2">(LED)<span class="serv_price">50</span>
                  <div class="more_btn">(more)</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="dotteds_line" style="margin-top: 5px;"></div>
      <div class="bottom_services">
        <div class="service_column">
          <div class="services_m_block_new package">
            <span class="future_text">
              Seriously great skin requires commitment!
              <div class="future_text2" style="color: #007481">
                CHECK OUT OUR PACKAGES AND <span style="color: #a5e5d9">MINT MONTHLY</span>
                MEMBERSHIP!<span>&nbsp;<a href="https://face-haus.myshopify.com/pages/packages">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/twelve-pack_yellow-star.png?v=1590585694"
                      width="45px" alt="learn more" style="margin-top:-3px;"></a></span>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--img_holder -->
<div class="img_holder" style="margin-top: 0">
  <div class="map" id="hauses">
    <div class="desktop2">
      <a href="https://face-haus.myshopify.com/pages/facials-west-hollywood" class="map_icon" id="icon1">
        <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/star.png?v=1590585744" width="100%"
          alt="west hollywood star"></a>
      <div id="icon1_box" style="z-index: 1050" class="map_info_box">
        <img style="margin-left: -19px;" class="map_arrow"
          src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/map_arrow.svg?v=1590585807"
          alt="location arrow">WEST HOLLYWOOD
      </div>

      <a href="https://face-haus.myshopify.com/pages/facials-usc-village" class="map_icon" id="icon2">
        <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/star.png?v=1590585744" width="100%"
          alt="usc village star"></a>
      <div id="icon2_box" class="map_info_box">
        <img style="margin-left: -32px;" class="map_arrow"
          src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/map_arrow.svg?v=1590585807"
          alt="location arrow">USC VILLAGE
      </div>
      <a href="https://face-haus.myshopify.com/pages/facials-santa-monica" class="map_icon" id="icon3">
        <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/star.png?v=1590585744" width="100%"
          alt="santa monica star"></a>
      <div id="icon3_box" class="map_info_box">
        <img class="map_arrow2" src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/map_arrow.svg?v=1590585807"
          alt="location arrow">SANTA MONICA
      </div>

      <a href="https://face-haus.myshopify.com/pages/facials-studio-city" class="map_icon" id="icon4">
        <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/star.png?v=1590585744" width="100%"
          alt="studio city star"></a>
      <div id="icon4_box" class="map_info_box">
        <img style="margin-left: -32px;" class="map_arrow"
          src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/map_arrow.svg?v=1590585807"
          alt="location arrow">STUDIO CITY
      </div>
      <a href="https://face-haus.myshopify.com/pages/facials-south-bay" class="map_icon" id="icon5">
        <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/star.png?v=1590585744" width="100%"
          alt="south bay star"></a>
      <div id="icon5_box" style="z-index: 1050" class="map_info_box">
        <img class="map_arrow2" style="margin-left: 80px"
          src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/map_arrow.svg?v=1590585807"
          alt="location arrow">SOUTH BAY
      </div>
      <a class="map_icon" href="https://face-haus.myshopify.com/pages/facials-new-york" id="icon6">
        <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/star.png?v=1590585744" width="100%"
          alt="new york star"></a>
      <div id="icon6_box" class="map_info_box">
        <img style="margin-left: -38px;" class="map_arrow"
          src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/map_arrow.svg?v=1590585807"
          alt="location arrow">NEW YORK
      </div>
      <a href="https://face-haus.myshopify.com/pages/facials-dallas-preston-royal" class="map_icon" id="icon7">
        <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/star.png?v=1590585744" width="100%"
          alt="dallas preston royal star"></a>
      <div id="icon7_box" class="map_info_box">
        <img style="margin-left: -18px;" class="map_arrow"
          src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/map_arrow.svg?v=1590585807"
          alt="location arrow">DALLAS - PRESTON ROYAL
      </div>
      <a href="https://face-haus.myshopify.com/pages/facials-dallas-west-village" class="map_icon" id="icon8">
        <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/star.png?v=1590585744" width="100%"
          alt="dallas west village star"></a>
      <div id="icon8_box" class="map_info_box">
        <img style="margin-left: -35px;" class="map_arrow"
          src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/map_arrow.svg?v=1590585807"
          alt="location arrow">DALLAS - West Village
      </div>
      <a href="https://face-haus.myshopify.com/pages/houston-texas" class="map_icon" id="icon9">
        <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/star.png?v=1590585744" width="100%"
          alt="houston texas star">
      </a>
      <div id="icon9_box" class="map_info_box">
        <img style="margin-left: -35px;" class="map_arrow"
          src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/map_arrow.svg?v=1590585807"
          alt="location arrow">Houston - Rice Village
      </div>

      <a href="https://face-haus.myshopify.com/pages/los-angeles-larchmont-village" class="map_icon" id="icon10">
        <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/star.png?v=1590585744" width="100%"
          alt="los angeles larchmont village star">
      </a>
      <div id="icon10_box" class="map_info_box">
        <img style="margin-left: -35px;margin-top: 10px;" class="map_arrow"
          src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/map_arrow.svg?v=1590585807" alt="location arrow">
        LARCHMONT VILLAGE (OPENING 2021)
      </div>
      <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/map.jpg?v=1590585844" class="map_img"
        width="100%" alt="map of USA">
    </div>
    <div class="polaroid coming_soon_photo desktop">
      <div id="pol_1_close" class="closer3">
        <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/x22.svg?v=1590585873" width="100%"
          alt="X close button">
      </div>
      <div class="pol_text">
        NOW OPEN
        <div class="pol_2_text">HOUSTON<br>
          RICE <br>VILLAGE</span>
        </div>
      </div>
      <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/houston.jpg?v=1594741627" width="100%"
        alt="now open Dallas & NYC as of March ‘19">
    </div>
    <div class="hauses_mobile mobile2" style="background: #84bac1;">
      <div class="service_column6" style="width:100%; padding-top: 10px; padding-bottom: 10px;">
        FIND YOUR HAUS
      </div>
      <div class="mobile_haus col_1">
        <a href="https://face-haus.myshopify.com/pages/facials-santa-monica" class="hm_btn">SANTA MONICA</a>
      </div>
      <div class="mobile_haus col_2">
        <a href="https://face-haus.myshopify.com/pages/facials-south-bay" class="hm_btn">SOUTH BAY</a>
      </div>
      <div class="mobile_haus col_1">
        <a href="https://face-haus.myshopify.com/pages/facials-studio-city" class="hm_btn">STUDIO CITY</a>
      </div>
      <div class="mobile_haus col_2">
        <a href="https://face-haus.myshopify.com/pages/facials-usc-village" class="hm_btn">USC VILLAGE</a>
      </div>
      <div class="mobile_haus col_1">
        <a href="https://face-haus.myshopify.com/pages/facials-west-hollywood" class="hm_btn">WEST HOLLYWOOD</a>
      </div>
      <div class="mobile_haus col_2">
        <a href="https://face-haus.myshopify.com/pages/facials-dallas-preston-royal" class="hm_btn">DALLAS - PRESTON
          ROYAL</a>
      </div>
      <div class="mobile_haus col_1">
        <a href="https://face-haus.myshopify.com/pages/facials-dallas-west-village" class="hm_btn">DALLAS - WEST
          VILLAGE</a>
      </div>
      <div class="mobile_haus col_2">
        <a href="https://face-haus.myshopify.com/pages/houston-texas" class="hm_btn">HOUSTON - RICE VILLAGE</a>
      </div>
      <div class="mobile_haus col_1">
        <a href="https://face-haus.myshopify.com/pages/facials-new-york" class="hm_btn">NYC</a>
      </div>
      <div class="mobile_haus col_2">
        <a href="https://face-haus.myshopify.com/pages/los-angeles-larchmont-village" class="hm_btn">
          LARCHMONT VILLAGE (OPENING 2021)</a>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!--end-->