<style>
	.logo_small {
		display: block !important;
	}

	.logo_big {
		display: none !important;
	}

	#esthy_slider {
		display: none;
	}

	div.hello_text p {
		color: #a5e5d9;
	}
</style>
<div class="hello_text">
	<p>SOUTH BAY IS ON POINT!</p>
</div>
<div class="main-container">
	<div class="overlay-new" itemscope="" itemtype="http://schema.org/LocalBusiness">
		<div class="overlay-menu">
			<h1>
				<meta itemprop="serviceType" content="Facial Treatments">
				<div class="upper-sub-title" itemprop="provider">
					<span itemprop="name">FACE HAUS&nbsp;&nbsp;</span>•&nbsp;
					<span>FACIALS</span>
				</div>
				<div itemprop="areaServed" itemscope="" itemtype="http://schema.org/location">
					<span class="haus-title" style="">SOUTH BAY</span>
				</div>
			</h1>
			<div class="overlay-address" style="" itemprop="address" itemscope=""
				itemtype="http://schema.org/PostalAddress">
				<span itemprop="streetAddress">
					820 S Sepulveda Blvd,
				</span>
				<span class="desktop"><br></span>
				<span itemprop="addressLocality">El Segundo</span>,
				<span itemprop="addressRegion">CA</span>
				<span itemprop="postalCode">90245</span>
				<br>
				<span itemprop="telephone">(424) 247-5049</span>
				<br>
				<span itemprop="emailAddress">southbay@thefacehaus.com</span>
				<br>
				<span style="font-family: 'HelveticaNeueCondensedBold2';">
					<meta itemprop="openingHours" content="Mo-Fr 10:00-20:00"><br>Mon - Fri 10am - 8pm <br>
					<meta itemprop="openingHours" content="Sa 10:00-19:00">Sat 10am - 7pm <br>
					<meta itemprop="openingHours" content="Su 11:00-18:00">Sun 11am - 6pm
				</span>
			</div>
			<a target="_blank"
				href="https://facehaus.zenoti.com/webstoreNew/0215c643-711d-42eb-afdc-a150a6decb38?_ga=2.177520293.1436121763.1585863939-296012075.1571883516"
				style="color:white">
				<h2 class="overlay-menu-item">
					BOOK NOW

				</h2>
			</a>
			<h2 class="overlay-menu-item call mobile2" style="background-color: #fc6427">
				<a href="tel:424 247-5049" class="mobile2">CALL</a>
			</h2>
			<h2 class="overlay-menu-item call desktop" style="background-color: #fc6427">
				CALL<span class="tooltiptext">(424) 247-5049</span>
			</h2>
			<h2 class="overlay-menu-item desktop" style="background-color: #0f7783">
				<a target="_blank"
					href="https://www.google.com/maps/place/Face+Haus+-+South+Bay,+CA/@33.903674,-118.395552,16z/data=!4m5!3m4!1s0x0:0xf797ec4331419a88!8m2!3d33.9036737!4d-118.3955522?hl=en-US">
					<div class="overlay-menu-item-map">MAP IT</div>
				</a>
			</h2>
			<h2 class="overlay-menu-item mobile2" style="background-color: #0f7783">
				<div class="overlay-menu-item-map overlay-menu-item-map-mobile2">MAP IT</div>
			</h2>
		</div>
		<div class="overlay-map">
			<div class="mapouter">
				<div class="gmap_canvas"><iframe width="100%" height="100%" id="gmap_canvas"
						src="https://maps.google.com/maps?q=facehaus%20el%20segunda&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
						frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
				</div>
			</div>
			<div class="overlay-closer">
				<img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/x.svg?v=1590585108"
					alt="Close X button" width="100%">
			</div>
		</div>
		<div id="main_slider" class="haus-view-slider">
			<div class="custom-navigation">
				<div class="flex-next loc_arrow">
				   <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/right_arrow2-1.svg?v=1591894259"
					  alt="right arrow" width="100%">
				</div>
				<div class="flex-prev loc_arrow2">
				   <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/left_arrow2-1.svg?v=1591894259" alt="left arrow"
					  width="100%">
				</div>
			 </div>
			 <div id="loc_slideshow" class="flexslider right-haus-slider">
				<div class="slides ">
					<li class="card" style="z-index: 5;">
						<div><img itemprop="image" src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/LA_SouthBay.jpg?v=1591499123"
								alt="south bay interior" width="100%"></div>
					</li>
					<li class="card" style="z-index: 5;">
						<div><img itemprop="image" src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/LA_SouthBay2.jpg?v=1591499124"
								alt="south bay interior two" width="100%"></div>
					</li>
					<li class="card" style="z-index: 5;">
						<div><img itemprop="image" src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/LA_SouthBay3.jpg?v=1591499124"
								alt="south bay interior Three" width="100%"></div>
					</li>
				</div>
				</div>
		</div>
	</div>

	<div class="accordion-wrap">
		<h3 class="accordion-menu active">
			ESTHIES
			<span class="accordion-menu-arrow desktop"></span>
		</h3>
		{% assign category = 'south-bay' %}

		<div class="esthys_holder-new accordion-menu-item">
			<div class="desktop">
				<div class="custom-navigation_blogs">
					<div class="flex-next loc_arrow-b desktop">
						<img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/right_arrow2-2.svg?v=1591370077"
							alt="arrow right" width="100%">
					</div>
					<div class="flex-prev loc_arrow2-b desktop">
						<img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/left_arrow2-2.svg?v=1591370078"
							alt="arrow left" width="100%">
					</div>
				</div>
				<div class="flexslider_blogs desktop">
					<div class="slides ">
						<!--TO-CHANGE-->
						{% unless blogs[category].empty? or blogs[category].articles.size == 0 %}
						{% for article in blogs[category].articles %}
						{% assign check_value = forloop.index0 | modulo: 6 %}
						{% assign check_value1 = forloop.index | modulo: 6 %}
						{% if check_value == 0 %}
						<li class="esthy_slides">
						{% endif %}
							<div class="esthy_block">
								<div class="esthy_img">
									<img class="centered-and-cropped" alt="{{ article.title }}" id="{{ article.excerpt }}"
										width="100%" style="border-radius:50%;"
										src="{{ article.image.src | img_url: '500x' }}" />
								</div>
								<div class="esthy_text">
									<div class="esthy_header">
										SOUTH BAY
										<!--TO-CHANGE-->
										<div class="esthy_title centered-and-cropped">
											{{ article.title }}
										</div>
									</div>
								</div>
								<div class="esthie-hidden-content">
									{{ article.content }}
								</div>
								<div class="esthie-hidden-stuff">
									{{ article.excerpt }}
								</div>
								<input type="hidden" value="{{ article.image.src | img_url: '500x' }}"
									class="esthie-hidden-img" />
								<input type="hidden" value="{{ article.title }}" class="esthie-hidden-name" />
							</div>
						{% if check_value1 == 0 %}
						</li>
						{% endif %}
		
						{% if forloop.last == true %}
						{% if forloop.index > 6 and check_value1 > 0 %}
						</li>
						{% endif %}
						{% if forloop.index > 0 and forloop.index <= 6 %}
						{% if forloop.index < 6%}
					</li>
					{% endif %}
					<style>
						.loc_arrow-b.desktop,
						.loc_arrow2-b.desktop {
							display: none;
						}
					</style>
					{% endif %}
					{% endif %}
					{% endfor %}
					{% endunless %}
				</div>
				</div>
			</div>
		
	<div class="mobile2">
		<div class="custom-navigation_mb">
			<div class="flex-next loc_arrow-b mobile2">
				<img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/right_arrow2-mobile.svg?v=1591499527"
					alt="right arrow mobile2" width="100%">
			</div>
			<div class="flex-prev loc_arrow2-b mobile2">
				<img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/left_arrow2-mobile.svg?v=1591797077"
					alt="left arrow mobile2" width="100%">
			</div>
		</div>
			<div class="flexslider_mb mobile2">
			   <div class="slides ">
			{% unless blogs[category].empty? or blogs[category].articles.size == 0 %}
			{% for article in blogs[category].articles %}
			{% assign check_value = forloop.index0 | modulo: 2 %}
			{% assign check_value1 = forloop.index | modulo: 2 %}
			{% if check_value == 0 %}
			<li class="esthy_slides">
				{% endif %}
				<div class="esthy_block">
					<div class="esthy_img">
						<img class="centered-and-cropped" alt="{{ article.title }}" id="{{ article.excerpt }}"
							width="100%" style="border-radius:50%;" src="{{ article.image.src | img_url: '500x' }}" />
					</div>
					<div class="esthy_text">
						<div class="esthy_header">
							SOUTH BAY
							<div class="esthy_title centered-and-cropped">
								{{ article.title }}
							</div>
						</div>
					</div>
					<div class="esthie-hidden-content">
						{{ article.content }}
					</div>
					<div class="esthie-hidden-stuff">
						{{ article.excerpt }}
					</div>
					<input type="hidden" value="{{ article.image.src | img_url: '500x' }}" class="esthie-hidden-img" />
					<input type="hidden" value="{{ article.title }}" class="esthie-hidden-name" />
				</div>
				{% if check_value1 == 0 %}
			</li>
			{% endif %}

			{% if forloop.last == true %}
				{% if forloop.index > 2 and check_value1 > 0 %}
		</li>
				{% endif %}
				{% if forloop.index > 0 and forloop.index <= 2 %}
					</li>
					<style>
						.loc_arrow-b.mobile2,
						.loc_arrow2-b.mobile2 {
							display: none;
						}
					</style>
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endunless %}	
</div>
</div>
</div>
</div>
</div>
{% section 'section-services' %}
<!-- <div class="accordion-wrap bottom">
	<h3 class="accordion-menu">
		SERVICES
		<span class="accordion-menu-arrow desktop"></span>
	</h3>
	<div class="accordion-menu-item hause-services">
		<div class="service-col">
			<div class="service-col-item">
				<h4 class="service-col-item-title">
					HAUS SPECIAL <span class="no">85</span>
				</h4>
				<p class="service-col-item-text">
					Our signature facial with an oxygen
					blast and no extractions.
				</p>
			</div>
			<div class="service-col-item">
				<h4 class="service-col-item-title">
					KEEP GLOWING <span class="no">75</span>
				</h4>
				<p class="service-col-item-text">
					Cleanse, exfoliate and hydrate a sea.
				</p>
			</div>
		</div>
		<div class="service-col">
			<div class="service-col-item">
				<h4 class="service-col-item-title">
					BEST MAN <span class="no">75</span>
				</h4>
				<p class="service-col-item-text">
					A guys-only cleanse and renewal.
				</p>
			</div>
			<div class="service-col-item">
				<h4 class="service-col-item-title">
					SPOTLESS REPUTATION <span class="no">85</span>

				</h4>
				<p class="service-col-item-text">
					A targeted acne tretment for
					problematic skin.
				</p>
			</div>
		</div>
		<div class="service-col last">
			<div class="service-col-item">
				<h4 class="service-col-item-title">
					BRIGHT SIDE <span class="no">75</span>

				</h4>
				<p class="service-col-item-text">
					A treatment that helps fade sun
					damage and dark spots.
				</p>
			</div>
			<div class="service-col-item">
				<h4 class="service-col-item-title">
					TEEN SPIRIT <span class="no">75</span>

				</h4>
				<p class="service-col-item-text">
					Gives teens clean, bright skin, and.
				</p>
			</div>
		</div>
	</div>
	<div class="accordion-menu-line desktop"></div>
</div> -->