<style>
  .logo_small {display:block !important;}
  .logo_big {display:none !important;}
  #esthy_slider {display:none;}
  div.hello_text p{
	  color: #6accbe;
   }
  
</style>
<div class="hello_text"><p>WE WELCOME MORE THAN JUST COWBOYS</p></div>
<div class="main-container">
   
   <div class="overlay-new" itemscope="" itemtype="http://schema.org/LocalBusiness">
      <div class="overlay-menu">
         <h1>
            <meta itemprop="serviceType" content="Facial Treatments">
            <div class="upper-sub-title" itemprop="provider">
               <span itemprop="name">FACE HAUS&nbsp;&nbsp;</span>•&nbsp;
               <span>FACIALS</span>
            </div>

            <div itemprop="areaServed" itemscope="" itemtype="http://schema.org/location">
               <span class="haus-title" style="">WEST VILLAGE</span>
            </div>
         </h1>
         <div class="overlay-address" style="" itemprop="address" itemscope=""
            itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">
               3699 McKinney Ave, Suite 312,
            </span>
            <span class="desktop"><br></span>
            <span itemprop="addressLocality">Dallas</span>,
            <span itemprop="addressRegion">TX</span>
            <span itemprop="postalCode">75204</span>
            <br>
            <span itemprop="telephone">(214) 269 2787</span>
            <br>
            <span itemprop="emailAddress">dallasWV@facehaus.com</span>
            <br>
            <span style="font-family: 'HelveticaNeueCondensedBold2';">
               <meta itemprop="openingHours" content="Mo-Th 10:00-20:00"><br>Mon - Thu 10am - 8pm<br>
               <meta itemprop="openingHours" content="Sa 9:00-19:00">Sat 9am - 7pm<br>
               <meta itemprop="openingHours" content="Su 11:00-18:00">Sun 11am - 6pm
            </span>
         </div>
         <a target="_blank"
            href="https://facehaus.zenoti.com/webstoreNew/89c3bd32-698b-40ca-90dd-baff969c0f08?_ga=2.219479321.1436121763.1585863939-296012075.1571883516"
            style="color:white">
            <h2 class="overlay-menu-item">
               BOOK NOW

            </h2>
         </a>
         <h2 class="overlay-menu-item call mobile2" style="background-color: #fc6427">
            <a href="tel:214 269 2787" class="mobile2">CALL</a>
         </h2>
         <h2 class="overlay-menu-item call desktop" style="background-color: #fc6427">
            CALL<span class="tooltiptext">(214) 269 2787</span>
         </h2>
         <h2 class="overlay-menu-item desktop" style="background-color: #0f7783">
            <a target="_blank"
               href="https://www.google.com/maps?ll=32.808291,-96.797343&amp;z=16&amp;t=m&amp;hl=en&amp;gl=US&amp;mapclient=embed&amp;cid=11122543392860924846">
               <div class="overlay-menu-item-map">MAP IT</div>
            </a>
         </h2>
         <h2 class="overlay-menu-item mobile2" style="background-color: #0f7783">
            <div class="overlay-menu-item-map overlay-menu-item-map-mobile">MAP IT</div>
         </h2>
      </div>
		<div class="overlay-map">
			  <div class="mapouter">
				 <div class="gmap_canvas"><iframe
					   src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3353.395249516458!2d-96.79953754916171!3d32.808290880868995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864e9f127bcf9dbf%3A0x9a5b36493a57ebae!2sFace%20Haus%20-%20West%20Village%20-%20Dallas%2C%20TX!5e0!3m2!1sen!2sus!4v1585886577075!5m2!1sen!2sus"
					   width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
					   tabindex="0"></iframe></div>
				</div>
			  <div class="overlay-closer">
				 <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/x.svg?v=1590585108" alt="Close X button"
					width="100%">
			  </div>
		   </div>
		   <div id="main_slider" class="haus-view-slider">
			<div class="custom-navigation">
				<div class="flex-next loc_arrow">
				   <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/right_arrow2-1.svg?v=1591894259"
					  alt="right arrow" width="100%">
				</div>
				<div class="flex-prev loc_arrow2">
				   <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/left_arrow2-1.svg?v=1591894259" alt="left arrow"
					  width="100%">
				</div>
			 </div>
			 <div class="flexslider">
				<div class="slides ">
				 <li class="card" style="z-index: 5;">
					<div><img itemprop="image" src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/DAL_WestVillage.jpg?v=1591802084"
						  alt="West Village interior" width="100%"></div>
					</li>
				 <li class="card" style="z-index: 5;">
					<div><img itemprop="image" src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/DAL_WestVillage2.jpg?v=1591802084"
						  alt="West Village interior two" width="100%"></div>
					</li>
				 <li class="card" style="z-index: 5;">
					<div><img itemprop="image" src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/DAL_WestVillage3.jpg?v=1591802086"
						  alt="West Village interior three" width="100%"></div>
					</li>
				 <li class="card" style="z-index: 5;">
					<div><img itemprop="image" src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/DAL_WestVillage4.jpg?v=1591802085"
						  alt="West Village interior four" width="100%"></div>
					</li>
				 <li class="card" style="z-index: 5;">
					<div><img itemprop="image" src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/DAL_WestVillage5.jpg?v=1591802085"
						  alt="West Village interior five" width="100%"></div>
					</li>
			  </div>
			 </div>
		   </div>  

   </div>
   <!-- Descriptions start-->
	<div class="accordion-wrap">
		<h3 class="accordion-menu">
			HAUS DESCRIPTIONS
		   <span class="accordion-menu-arrow desktop"></span>
		</h3>
		<div class="accordion-menu-item hause-services">
			<p class="descriptions-text">
				Facial Spa located in West Village in Dallas. Our open concept facial bar offers affordable, accessible spa-grade facials by estheticians who are experts in skin analysis, cleansing, exfoliation, microdermabrasion, extractions, acne-prevention, hydration, LED and aging skincare. A truly customized facial experience in an upbeat, inviting and modern open environment.
			</p>
			<p class="descriptions-text descriptions-text-end">
				Face Haus is a revolution that is redefining skin care with its innovative approach to skin health. A community that celebrates camaraderie, and brings people together over the shared goal of feeling and looking fantastic from the inside out. Our expert estheticians serve up fabulous, spa-grade facials using superior clean products at a head-turning price.
			 </p>
		</div>
	 </div>
	<!-- Descriptions end -->
   <div class="accordion-wrap">
	<h3 class="accordion-menu active">
		ESTHIES
		<span class="accordion-menu-arrow desktop"></span>
  </h3>
  <!--TO-CHANGE-->
	{% assign category = 'west-village' %}

	<div class="esthys_holder-new accordion-menu-item">
		<div class="desktop">
			<div class="custom-navigation_blogs">               
				<div class="flex-next loc_arrow-b desktop">
				   <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/right_arrow2-2.svg?v=1591370077"
					  alt="arrow right" width="100%">
				</div>
				<div class="flex-prev loc_arrow2-b desktop">
				   <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/left_arrow2-2.svg?v=1591370078"
					  alt="arrow left" width="100%">
				</div>
			  </div>
				<div class="flexslider_blogs desktop">
				   <div class="slides ">				
				{% unless blogs[category].empty? or blogs[category].articles.size == 0 %}
				{% for article in blogs[category].articles %}
				{% assign check_value = forloop.index0 | modulo: 6 %}
				{% assign check_value1 = forloop.index | modulo: 6 %}
				{% if check_value == 0 %}
				<li class="esthy_slides">
					{% endif %}
					<div class="esthy_block">
						<div class="esthy_img">
							<img class="centered-and-cropped" alt="{{ article.title }}" id="{{ article.excerpt }}"
								width="100%" style="border-radius:50%;"
								src="{{ article.image.src | img_url: '500x' }}" />
						</div>
						<div class="esthy_text">
							<div class="esthy_header">
								DALLAS WEST VILLAGE
								<!--TO-CHANGE-->
								<div class="esthy_title centered-and-cropped">
									{{ article.title }}
								</div>
							</div>
						</div>
						<div class="esthie-hidden-content">
							{{ article.content }}
						</div>
						<div class="esthie-hidden-stuff">
							{{ article.excerpt }}
						</div>
						<input type="hidden" value="{{ article.image.src | img_url: '500x' }}"
							class="esthie-hidden-img" />
						<input type="hidden" value="{{ article.title }}" class="esthie-hidden-name" />
					</div>
					{% if check_value1 == 0 %}
				</li>
					{% endif %}

				{% if forloop.last == true %}	
				{% if forloop.index > 6 and check_value1 > 0 %}
			</li>
				{% endif %} 					
					{% if forloop.index > 0 and forloop.index <= 6 %}
						{% if forloop.index < 6%}
							</li>
						{% endif %}
							<style>
								.loc_arrow-b.desktop,
								.loc_arrow2-b.desktop {
									display: none;
								}
							</style>
					{% endif %}
				{% endif %}
		{% endfor %}
		{% endunless %}
	</div>
				</div>
</div>
<div class="mobile2">
	<div class="custom-navigation_mb">   
		<div class="flex-next loc_arrow-b mobile2">
		   <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/right_arrow2-mobile.svg?v=1591499527"
			  alt="right arrow mobile2" width="100%">
		</div>
		<div class="flex-prev loc_arrow2-b mobile2">
		   <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/left_arrow2-mobile.svg?v=1591797077"
			  alt="left arrow mobile2" width="100%">
		</div>
	  </div>
		<div class="flexslider_mb mobile2">
		   <div class="slides ">
		{% unless blogs[category].empty? or blogs[category].articles.size == 0 %}
		{% for article in blogs[category].articles %}
		{% assign check_value = forloop.index0 | modulo: 2 %}
		{% assign check_value1 = forloop.index | modulo: 2 %}
		{% if check_value == 0 %}
		<li class="esthy_slides">
			{% endif %}
			<div class="esthy_block">
				<div class="esthy_img">
					<img class="centered-and-cropped" alt="{{ article.title }}" id="{{ article.excerpt }}"
						width="100%" style="border-radius:50%;" src="{{ article.image.src | img_url: '500x' }}" />
				</div>
				<div class="esthy_text">
					<div class="esthy_header">
						DALLAS WEST VILLAGE
						<!--TO-CHANGE-->
						<div class="esthy_title centered-and-cropped">
							{{ article.title }}
						</div>
					</div>
				</div>
				<div class="esthie-hidden-content">
					{{ article.content }}
				</div>
				<div class="esthie-hidden-stuff">
					{{ article.excerpt }}
				</div>
				<input type="hidden" value="{{ article.image.src | img_url: '500x' }}" class="esthie-hidden-img" />
				<input type="hidden" value="{{ article.title }}" class="esthie-hidden-name" />
			</div>
			{% if check_value1 == 0 %}
		</li>
		{% endif %}

		{% if forloop.last == true %}
			{% if forloop.index > 2 and check_value1 > 0 %}
	</li>
			{% endif %}
			{% if forloop.index > 0 and forloop.index <= 2 %}
				</li>
				<style>
					.loc_arrow-b.mobile2,
					.loc_arrow2-b.mobile2 {
						display: none;
					}
				</style>
			{% endif %}
		{% endif %}
	{% endfor %}
{% endunless %}
</div>
</div>
</div>
</div>
</div>
{% section 'section-services' %}
   <!-- <div class="accordion-wrap bottom">
      <h3 class="accordion-menu">
         SERVICES
         <span class="accordion-menu-arrow desktop"></span>
      </h3>
      <div class="accordion-menu-item hause-services">
         <div class="service-col">
            <div class="service-col-item">
               <h4 class="service-col-item-title">
                  HAUS SPECIAL <span class="no">85</span>
               </h4>
               <p class="service-col-item-text">
                  Our signature facial with an oxygen
                  blast and no extractions.
               </p>
            </div>
            <div class="service-col-item">
               <h4 class="service-col-item-title">
                  KEEP GLOWING <span class="no">75</span>
               </h4>
               <p class="service-col-item-text">
                  Cleanse, exfoliate and hydrate a sea.
               </p>
            </div>
         </div>
         <div class="service-col">
            <div class="service-col-item">
               <h4 class="service-col-item-title">
                  BEST MAN <span class="no">75</span>
               </h4>
               <p class="service-col-item-text">
                  A guys-only cleanse and renewal.
               </p>
            </div>
            <div class="service-col-item">
               <h4 class="service-col-item-title">
                  SPOTLESS REPUTATION <span class="no">85</span>

               </h4>
               <p class="service-col-item-text">
                  A targeted acne tretment for
                  problematic skin.
               </p>
            </div>
         </div>
         <div class="service-col last">
            <div class="service-col-item">
               <h4 class="service-col-item-title">
                  BRIGHT SIDE <span class="no">75</span>

               </h4>
               <p class="service-col-item-text">
                  A treatment that helps fade sun
                  damage and dark spots.
               </p>
            </div>
            <div class="service-col-item">
               <h4 class="service-col-item-title">
                  TEEN SPIRIT <span class="no">75</span>

               </h4>
               <p class="service-col-item-text">
                  Gives teens clean, bright skin, and.
               </p>
            </div>
         </div>
      </div>
      <div class="accordion-menu-line desktop"></div>
   </div> -->


</div>