<!--- Main Page--->
<div class="target-hero-container">
	<div class="main_page-target_">
	  <div id="main_slider slider-target">
		<div class="abouts hitrer target-main " id="abouts">
		  <div class="about_left">
			<div id="abt_1" class="about_texts" style="display: block; width: 100%;">
			  <div class="whatis services_block target-img" data-uw-styling-context="true">
				<img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/target-x-1.png?v=1622366669" class="target-x-head-image" width="100%"
				  alt="what is the face haus" class="w-80-x">
				
				<H2 class="target-hero-title">FACE HAUS AT TARGET</H2>
				<p class="price-item subtitle_products brandname_ text_target">
				  Customized facial services by our licensed esthies.
				</p>
				<a href="#">
				<div id="target_book_btn" class="book_this_btn w-150-x">
				  <span class="book_btn" data-uw-styling-context="true">BOOK NOW</span>
				</div>
				</a>
			  </div>
			</div>
		  </div>
		  <div class="about_right mg-0">
			<div class="photo_top">
			  <img class="img_target_" src="https://cdn.shopify.com/s/files/1/0441/5261/9170/files/2.png?v=1620738918"
				width="150%" alt="the sub field one">
			</div>
		  </div>
		</div>
	  </div>
	</div>
</div>
<!--target customize facial-->
<div class="target-customized-facial">
	<div class="target-customized-facial-head">
		<div class="target-customized-facial-head-logo">
			<img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/target-three-logos.png?v=1622366669" alt="target three logos image" width="100%"/>
		</div>
		<div class="target-customized-facial-head-title">
			Customized facial services by our savvy licensed Esthies.
		</div>
	</div>
	
	<div class="target-customized-facial-content">
		<div class="target-customized-facial-content-1">
			<div class="target-customized-facial-subhead">
				<div class="target-customized-facial-subhead-bar">
					<div class="target-customized-facial-subhead-30">
						<img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/target-30.png?v=1622366669" />
						<div class="target-customized-facial-subhead-bar-text">
							minutes
						</div>
					</div>
					
				</div>
				<div class="target-customized-facial-subhead-subtitle">
					Includes skin health analysis + pro facial. 
				</div>
			</div>
			<div class="target-customized-facial-content-inner">
				<div class="service-col-item">
				  <h4 class="service-col-item-title">
					PRO PEEL <span class="no">35</span>
				  </h4>
				  <p class="service-col-item-text">
					Resurfacing, 'fine-line-fighting' treatment to even skin tone, brighten and smooth rough texture.
				  </p>
				</div>
				<div class="service-col-item">
				  <h4 class="service-col-item-title">
					ELECTROLYTE-INFUSED
					HYDROJELLY MASK <span class="no">35</span>
				  </h4>
				  <p class="service-col-item-text">
					Peel-off hydrojelly masks deliver concentradted actives to instantly refresh, hydrate & soothe.
				  </p>
				</div>
				<div class="service-col-item">
				  <h4 class="service-col-item-title">
					MICRODERMABRASION <span class="no">50</span>
				  </h4>
				  <p class="service-col-item-text">
					Professional strength diamond tip exfoliation resurfaces and 'vacuums' dull, dead cells to uncover your smoothest skin.
				  </p>
				</div>
				<div class="service-col-item">
				  <h4 class="service-col-item-title">
					LED TREATMENT <span class="no">50</span>

				  </h4>
				  <p class="service-col-item-text">
					Combination LED light reduces inflammation, kills acne-causing bacteria, promotes cell energy and collagen production.
				  </p>
				</div>
				<div class="service-col-item">
				  <h4 class="service-col-item-title">
					DEEP PORE CLEANSE 
					+ EXTRACTIONS <span class="no">50</span>

				  </h4>
				  <p class="service-col-item-text">
					Ultrasonic vibrations, high frequency technologies and gentle extractions effectively clear clogged, congested pores.
				  </p>
				</div>
			</div>
		</div>
		<div class="target-customized-facial-content-2">
			<div class="target-customized-facial-subhead">
				<div class="target-customized-facial-subhead-bar">					
					<div class="target-customized-facial-subhead-15">
						<img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/target-15.png?v=1622366669" />
						<div class="target-customized-facial-subhead-bar-text">
							minutes
						</div>
					</div>					
				</div>
				
			</div>
			<div class="target-customized-facial-content-inner">
				<div class="service-col-item">
				  <h4 class="service-col-item-title">
					EMERGENCY 
					SPOT TREATMENT <span class="no">15</span>
				  </h4>
				  <p class="service-col-item-text">
					The 'unwanted visitor' is cleaned, extracted and detoxified so the healing process can begin. And that's zit.
				  </p>
				</div>
				<div class="service-col-item">
				  <h4 class="service-col-item-title">
					SKIN HEALTH 
					ANALYSIS + CONSULT <span class="no">15</span>

				  </h4>
				  <p class="service-col-item-text">
					Skin analyzer magnifies the skin SOx, provides a detailed 3D rendering then generates a customized report including homecare recommendations.
				  </p>
				  <p class="service-col-item-text target-highlight-text">
					BONUS: $15 credit toward any product.
				  </p>
				</div>
				<div class="service-col-item">
				  <h4 class="service-col-item-title">
					OXYGEN INFUSION <span class="no">20</span>
				  </h4>
				  <p class="service-col-item-text">
					Hydrate, purify and revitalize skin with a powerful 02 infusion. 
				  </p>
				</div>
				<div class="service-col-item">
				  <h4 class="service-col-item-title">
					EYE + LIP TREATMENT <span class="no">25</span>
				  </h4>
				  <p class="service-col-item-text">
					Cleanse, exfoliate, mask, and hydrate lip + eye area.
					Our T-sonic alternating technology reduces visible signs of fine lines and dark circles around eyes.
				  </p>
				</div>
				<div class="service-col-item">
				  <h4 class="service-col-item-title">
					PRO PEEL <span class="no">35</span>

				  </h4>
				  <p class="service-col-item-text">
					A treatment that helps fade sun
					damage and dark spots.
				  </p>
				</div>
			</div>
		</div>
		<div class="target-customized-facial-content-3">
			<div class="target-customized-facial-subhead">
				<div class="target-customized-facial-subhead-bar">					
					<div id="target-customized-facial-btn" class="target-customized-facial-subhead-book">
						<img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/target-book-now.png?v=1622366669" />
					</div>
				</div>				
			</div>
			<div class="target-customized-facial-content-inner close-some-top-space-on-mobile">
				<div class="service-col-item">
				  <h4 class="service-col-item-title">
					FACIAL WAXING

				  </h4>
				  <p class="service-col-item-text target-highlight-text">
					Bundle any two (except brows) for $30.
				  </p>
				</div>
				<div class="service-col-item">
				  <h4 class="service-col-item-title">
					BROW <span class="no">25</span>
				  </h4>				  
				</div>
				<div class="service-col-item">
				  <h4 class="service-col-item-title">
					LIP <span class="no">20</span>

				  </h4>				  
				</div>
				<div class="service-col-item">
				  <h4 class="service-col-item-title">
					CHIN <span class="no">20</span>

				  </h4>
				</div>
				<div class="service-col-item">
				  <h4 class="service-col-item-title">
					CHEEK <span class="no">20</span>

				  </h4>
				</div>
				<div class="service-col-item">
				  <h4 class="service-col-item-title">
					EAR <span class="no">20</span>

				  </h4>
				</div>
				<div class="service-col-item">
				  <h4 class="service-col-item-title">
					NOSE <span class="no">20</span>

				  </h4>
				</div>
			</div>
		</div>
	</div>
	<div class="target-customized-facial-content-footer">
		<div class="target-customized-facial-content-footer-social">
			<div class="target-customized-facial-content-footer-social-icon">
				<img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/small-instagram-icon.png?v=1622559895" alt="instagram target social icon"/>
				<img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/small-fb-icon.png?v=1622559895" alt="facebook target social icon"/>
				<img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/small-twich-icon.png?v=1622559895" alt="tiktok target social icon"/>
				<span>@FaceHaus</span>
			</div>
			<div class="target-customized-facial-content-footer-social-text">
				#facehausxtarget
			</div>
		</div>
	</div>
</div>
<!--end target customize facial-->
<!--- main_content_downs-->
<!--div class="main_content_downs_">
  <div class="accordion-wrap">
    <h3 class="accordion-menu" data-uw-styling-context="true">
      HAUS DESCRIPTIONS
      <span class="accordion-menu-arrow desktop"></span>
    </h3>
    <div class="accordion-menu-item hause-services" style="display: none;">
      <p class="descriptions-text" data-uw-styling-context="true">
        Facial Spa located on Montana Avenue in Santa Monica. Our open concept facial bar offers affordable, accessible
        spa-grade facials by estheticians who are experts in skin analysis, cleansing, exfoliation, microdermabrasion,
        extractions, acne-prevention, hydration, LED and aging skincare. A truly customized facial experience in an
        upbeat, inviting and modern open environment.
      </p>
      <p class="descriptions-text descriptions-text-end" data-uw-styling-context="true">
        Face Haus is a revolution that is redefining skin care with its innovative approach to skin health. A community
        that celebrates camaraderie, and brings people together over the shared goal of feeling and looking fantastic
        from the inside out. Our expert estheticians serve up fabulous, spa-grade facials using superior clean products
        at a head-turning price.
      </p>
    </div>
  </div>
  
  < <div class="accordion-wrap bottom-target">
    <h3 class="accordion-menu" data-uw-styling-context="true">
      SERVICES
      <span class="accordion-menu-arrow desktop"></span>
    </h3>
    <div class="accordion-menu-item hause-services he-490-mb" style="display: none; ">
      <div class="service-col">
        <div class="service-col-item">
          <h4 class="service-col-item-title" data-uw-styling-context="true">
            HAUS SPECIAL <span class="no" data-uw-styling-context="true">65</span>
          </h4>
          <p class="service-col-item-text" data-uw-styling-context="true">
            Our signature facial with an oxygen
            blast and no extractions.
          </p>
        </div>
        <div class="service-col-item">
          <h4 class="service-col-item-title" data-uw-styling-context="true">
            KEEP GLOWING <span class="no" data-uw-styling-context="true">75</span>
          </h4>
          <p class="service-col-item-text" data-uw-styling-context="true">
            Cleanse, exfoliate and hydrate a sea.
          </p>
        </div>
      </div>
      <div class="service-col">
        <div class="service-col-item">
          <h4 class="service-col-item-title" data-uw-styling-context="true">
            BEST MAN <span class="no" data-uw-styling-context="true">75</span>
          </h4>
          <p class="service-col-item-text" data-uw-styling-context="true">
            A guys-only cleanse and renewal.
          </p>
        </div>
        <div class="service-col-item">
          <h4 class="service-col-item-title" data-uw-styling-context="true">
            SPOTLESS REPUTATION <span class="no" data-uw-styling-context="true">75</span>

          </h4>
          <p class="service-col-item-text" data-uw-styling-context="true">
            A targeted acne tretment for
            problematic skin.
          </p>
        </div>
      </div>
      <div class="service-col last">
        <div class="service-col-item">
          <h4 class="service-col-item-title" data-uw-styling-context="true">
            BRIGHT SIDE <span class="no" data-uw-styling-context="true">75</span>

          </h4>
          <p class="service-col-item-text" data-uw-styling-context="true">
            A treatment that helps fade sun
            damage and dark spots.
          </p>
        </div>
        <div class="service-col-item">
          <h4 class="service-col-item-title" data-uw-styling-context="true">
            TEEN SPIRIT <span class="no" data-uw-styling-context="true">65</span>

          </h4>
          <p class="service-col-item-text" data-uw-styling-context="true">
            Gives teens clean, bright skin, and.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-menu-line-target desktop"></div>
  </div> 
</div-->
<!--- main_Face haus target location-->

<div id="target_location" class="services servc-target">
  <div class="top_services services-80" style="max-width: 1024px;">
    <div class="section-header text-center target-section-header">
      <h2 class="header_title margin_bottom_10 fontHelCondBo2 accordion-menu fz-24px" data-uw-styling-context="true">
        FACE HAUS TARGET LOCATION
      </h2>
    </div>
    <div class="service_column mg-bt-90p w-90">
      <div id="serv1" class="services_block tooltip">
		<div class="target-serv-title">
        Frisco
		</div>
        <div class="serv_text mg-tp-bt-10">
          3201 Preston Road <br>
          Frisco, TX 75034
        </div>
		<a href="#">
        <div class="btn-target" data-uw-styling-context="true">BOOK NOW</div>
		</a>
      </div>
      <div id="serv3" class="services_block tooltip">
		<div class="target-serv-title">
        Cityview
		</div>
        <div class="serv_text mg-tp-bt-10">
          5700 Overton Ridge Blvd <br>
          Fort Worth, TX 76132
        </div>
        <a href="#">
        <div class="btn-target" data-uw-styling-context="true">BOOK NOW</div>
		</a>
      </div>
      <div id="serv5" class="services_block tooltip">
        <div class="target-serv-title">
		Fort Worth Central
		</div>
        <div class="serv_text mg-tp-bt-10">
          301 Carroll Street <br>
          Fort Worth, TX 76107
        </div>
        <a href="#">
        <div class="btn-target" data-uw-styling-context="true">BOOK NOW</div>
		</a>
      </div>
      <div id="serv6_m" class="services_block tooltip">
        <div class="target-serv-title">
		Fort Worth North
		</div>
        <div class="serv_text mg-tp-bt-10">
          8917 Tehama Ridge Parkway <br>
          Fort Worth, TX 76177
        </div>
        <a href="#">
        <div class="btn-target" data-uw-styling-context="true">BOOK NOW</div>
		</a>
      </div>
    </div>

    <div class="service_column w-90">
      <div id="serv6-des" class="services_block tooltip">
        <div class="target-serv-title">
		Fort Worth North
		</div>
        <div class="serv_text mg-tp-bt-10">
          8917 Tehama Ridge Parkway <br>
          Fort Worth, TX 76177
        </div>
        <a href="#">
        <div class="btn-target" data-uw-styling-context="true">BOOK NOW</div>
		</a>
      </div>
      <div id="serv7" class="services_block tooltip">
        <div class="target-serv-title">
		Addison
		</div>
        <div class="serv_text mg-tp-bt-10">
          3730 Belt Line Rd <br>
          Addison, TX 75001
        </div>
        <a href="#">
        <div class="btn-target" data-uw-styling-context="true">BOOK NOW</div>
		</a>
      </div>
      <div id="serv8" class="services_block tooltip">

      </div>
    </div>
  </div>
</div>
<!--- main_products-->
<div class="product-recommendations__inner">
  <div class="section-header text-center target-section-header">
    <h2 class="header_title margin_bottom_10 fontHelCondBo2 accordion-menu">ESTHIES</h2>
  </div>
  <div class="target-esthies">
	<!--TO-CHANGE target-ftw-north CAN USE LINKEDLIST -->
		
		{% assign blog_handles = "target-frisco" | split: "," %}
		<div class="esthys_holder-new accordion-menu-item">
			<div class="">
            <div class="custom-navigation_blogs">               
               <div class="flex-next loc_arrow-b target-arrow">
                  <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/right_arrow2-2.svg?v=1591370077"
                     alt="arrow right" width="100%">
               </div>
               <div class="flex-prev loc_arrow2-b target-arrow">
                  <img src="https://cdn.shopify.com/s/files/1/0386/7390/7756/files/left_arrow2-2.svg?v=1591370078"
                     alt="arrow left" width="100%">
               </div>
             </div>
               <div class="flexslider_blogs1">
                  <div class="slides ">					
					{% for handle in blog_handles %}
						{% for article in blogs[handle].articles %}
					
					<li class="esthy_slides">
						<div class="esthy_block">
							<div class="esthy_img">
								<img class="centered-and-cropped" alt="{{ article.title }}" id="{{ article.excerpt }}"
									width="100%" style="border-radius:50%;"
									src="{{ article.image.src | img_url: '500x' }}" />
							</div>
							<div class="esthy_text">
								<div class="esthy_header">
									TARGET
									<!--TO-CHANGE-->
									<div class="esthy_title centered-and-cropped">
										{{ article.title }}
									</div>
								</div>
							</div>
							<div class="esthie-hidden-content">
								{{ article.content }}
							</div>
							<div class="esthie-hidden-stuff">
								{{ article.excerpt }}
							</div>
							<div class="esthie-hidden-haus-names">
								{{ article.metafields.global.haus_names }}
							</div>
							<div class="esthie-hidden-haus-ids">
								{{ article.metafields.global.haus_ids }}
							</div> 
							<input type="hidden" value="{{ article.image.src | img_url: '500x' }}"
								class="esthie-hidden-img" />
							<input type="hidden" value="{{ article.title }}" class="esthie-hidden-name" />
						</div>
						
						</li>
						
						{% endfor %}
					{% endfor %}				
					
				</div>
			</div>
   </div>   

   </div>
  </div>
  <div class="section-header text-center target-section-header">
    <h2 class="header_title margin_bottom_10 fontHelCondBo2 accordion-menu">PRODUCTS YOU MAY LIKE</h2>
  </div>
  <ul class="grid grid--uniform grid--view-items products-target">
    <div class="slides ">
      {% assign all_products = collections['target'].products %}
      {% for product in all_products %}
      <li class="grid__item small--one-half medium-up--one-quarter pd-f-r-15">
        {% include 'product-card-grid', max_height: 250, product: product, show_vendor: section.settings.show_vendor %}
      </li>
      {%- endfor -%}
  </ul>
</div>