<style>
   .logo_small {
      display: block !important;
   }

   .logo_big {
      display: none !important;
   }

   #esthy_slider {
      display: none;
   }
   .contact_content {
		width: 90%;
		max-width: 950px;
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
	}
   .cont_left{
		font-family: var(--font-text-bold);
		font-size: 15px;
		line-height: 17px;
		color: #111;
		display: inline-block;
		width: 50%;
		margin-right: 4%;
		vertical-align: top;

	}


	.cont_right{
		font-family: 'HelveticaNeueRoman';
		font-size: 12px;
		line-height: 14px;
		color: #444;
		display: inline-block;
		width: 40%;
		margin-left: 5%;
	}

	p .send_btn{
		margin-top: 50px;
		border: 0px solid;
		font-family: var(--font-text-bold);
	}
    p{
		margin:0;
	}
	.select2-selection__rendered.colorchager {
		width: 100% !important;
		max-width: 100% !important;
	}
	span.select2.select2-container.select2-container--default.select2-container--below.select2-container--focus, span.select2.select2-container.select2-container--default.select2-container--below, span.select2.select2-container.select2-container--default {
		width: 100% !important;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
		width: auto !important;
		min-width: none !important;
		max-width: auto !important;
    
	}
</style>

    <!--  <div class="contact_content">
         <div class="cont_left">
            <div class="cont_text">
				Need to reach a Haus directly about an upcoming appointment or question?   Please call us at <a href="tel:855.550.4287" style="color: #007482" >855-550-HAUS (4287)</a> or choose your location from the list below and email the in-haus team directly. <br><br>
			Have a question about Haus parties, joining our team, marketing or another general inquiry? Please refer to contact list on the right.



            </div>
			<script type="text/javascript" src="https://form.jotform.com/jsform/201694810760455"></script>
			<div id="email_send_response" style="margin-top:100px;"></div>
         </div>
		 
         <div class="cont_right">
            Want to plan a Haus Party?  We’d love to help you plan!  <br>
			 Please email us with your at <a href="mailto:info@thefacehaus.com" style="color: inherit; text-transform: uppercase" class="bolder3">info@thefacehaus.com</a> to get started.<br><br>
            Interested in joining the Face Haus Team? We're hiring.<br>
            We'd love to hear from you! Email and send us your resume at<br>
            <a href="mailto:joinus@thefacehaus.com" style="color: inherit" class="bolder3">JOINUS@THEFACEHAUS.COM</a>
            <br><br>
            For marketing or press inquiries, please contact<br>
            <a href="mailto:marketing@thefacehaus.com" style="color: inherit" class="bolder3">MARKETING@THEFACEHAUS.COM</a><br><br>
			Do you have a general inquiry or want a Haus in your hood?<br>    Let us know!
			Email us at <a href="mailto:info@thefacehaus.com" style="color: inherit; text-transform: uppercase" class="bolder3">info@thefacehaus.com</a><br><br>
			Have a question about our Mint Monthly 12-Pack?<br>
			Email us at <a href="mailto:gomint@thefacehaus.com" style="color: inherit; text-transform: uppercase" class="bolder3">gomint@thefacehaus.com</a>

         </div>
      </div> -->

div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      {% if page.content.size > 0 %}
        <div class="rte">
          {{ page.content }}
        </div>
      {% endif %}

      <div class="contact-form form-vertical">
        {%- assign formId = 'ContactForm' -%}
        {% form 'contact', id: formId %}
          {% include 'form-status', form: form, form_id: formId %}

          <div class="grid grid--half-gutters">
            <div class="grid__item medium-up--one-half">
              <label for="{{ formId }}-name">{{ 'contact.form.name' | t }}</label>
              <input type="text" id="{{ formId }}-name" name="contact[{{ 'contact.form.name' | t }}]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
            </div>
            <div class="grid__item medium-up--one-half">
              <label for="{{ formId }}-email">{{ 'contact.form.email' | t }} <span aria-hidden="true">*</span></label>
              <input
                type="email"
                id="{{ formId }}-email"
                name="contact[email]"
                autocorrect="off"
                autocapitalize="off"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                aria-required="true"
                {%- if form.errors contains 'email' -%}
                  class="input--error"
                  aria-invalid="true"
                  aria-describedby="{{ formId }}-email-error"
                {%- endif -%}
                >
              {%- if form.errors contains 'email' -%}
                <span id="{{ formId}}-email-error" class="input-error-message">
                  <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                  {% include 'icon-error' %}
                  <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                </span>
              {%- endif -%}
            </div>
          </div>

          <label for="{{ formId }}-phone">{{ 'contact.form.phone' | t }}</label>
          <input type="tel" id="{{ formId }}-phone" name="contact[{{ 'contact.form.phone' | t }}]" pattern="[0-9\-]*" value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">

          <label for="{{ formId }}-message">{{ 'contact.form.message' | t }}</label>
          <textarea rows="10" id="{{ formId }}-message" name="contact[{{ 'contact.form.message' | t }}]">{% if form.body %}{{ form.body }}{% endif %}</textarea>

          <input type="submit" class="btn" value="{{ 'contact.form.submit' | t }}">

        {% endform %}
      </div> 
    </div>
  </div>
</div
